div.dx-column-indicators {
    float: right !important;
}

h2 {
    margin-top: 0;
    font-size: 2rem;
    font-weight: bold !important;
    text-decoration-color: #0046fe;
    text-decoration-thickness: 3px;
}

h4 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: bold !important;
}

p, .dx-widget, .dx-item-content {
    font-size: 13px !important;
}

.bg-color-eb {
    background-color: #ebebeb;
}

.bg-color-grey {
    background-color: #ddd;
}

.max-width-1400 {
    max-width: 1400px;
}

.h-fill {
    height: auto;
}

.Toolbar .tbd_logo {
    width: 50px !important;
    height: 50px !important;
}

.min-vh-94 {
    min-height: 94vh !important;
}

.min-vh-72 {
    min-height: 72vh !important;
}

.min-vw-40 {
    min-width: 55vw !important;
}

div.complainceBlock {
    border: 2px solid black;
    border-radius: 20px;
    flex: 1;
    padding: 2rem;
}

#identificationOptions {
    margin-bottom: 1rem;
}

#identificationData {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 2rem;
}

.dx-field-label {
    color: black !important;
    width: 100% !important;
    font-size: 12px !important;
}

.dx-field-value, .dx-field-value > div {
    position: relative !important;
    padding: 0 !important;
}

#Privacy {
    float: left;
}

.conversationsTreeSize {
    width: 450px;
    float: left;
    height: 100%;
    background-color: white;
}

.conversationLeftPanel {
    border-right: solid 1px #d8d8d8;
    margin: 10px 10px 0 10px;
}

    .conversationLeftPanel .treeCaption {
    }

.conversationsTreeCaption {
    height: 35px;
    background-color: #85a6ff;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    border: thin solid #85a6ff;
    width: 445px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.channelConversations {
    height: 100%;
}

.channelConversationsList {
    float: left;
}

.conversationMessages {
    float: right;
    width: 100%;
    height: 100%;
}

.conversationIcon {
    float: left;
    border-radius: 18px;
}

.conversationInfo {
    float: left;
    width: 290px !important;
    padding-right: 5px;
}

    .conversationInfo .cardName {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis
    }

.conversationDescription {
    margin-top: -5px;
}

.conversationDate {
    min-width: 100px;
    float: right;
}

.complaintText {
}

.complaintDiv {
    margin-top: 20px;
    margin-bottom: 20px;
}

.complaintHeader {
    float: left;
    width: 100%;
    margin-top: -10px !important;
    margin-bottom: 25px !important;
}

.complaintButtons {
    margin-top: 45px;
}

.emptyMessagePosition {
    top: 200px;
}

.emptyConversation {
    margin: auto;
    width: 64px;
    height: 64px;
    background-size: cover !important;
    background: url(/Base/Images/StartMenuIcos/Channels.png);
}

.emptyMessage {
    text-align: center;
}

.channelConversationsActions {
    float: left;
    margin-top: 1px;
    width: 100%;
    padding-bottom: 5px;
    position: relative;
}

.conversations {
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.messageList {
    width: 100%;
    overflow: auto;
    max-height: 40vh;
    padding-right: 5px;
    flex: 1;
}

    .messageList::-webkit-scrollbar {
        width: 12px; /* width of the entire scrollbar */
    }

    .messageList::-webkit-scrollbar-track {
        background: unset; /* color of the tracking area */
    }

    .messageList::-webkit-scrollbar-thumb {
        background-color: #e5ecff; /* color of the scroll thumb */
        border-radius: 20px; /* roundness of the scroll thumb */
        border: 1px solid #e5ecff; /* creates padding around scroll thumb */
    }

.sendBox {
    padding-right: 5px;
    position: relative;
}

.sendButtonContent {
    opacity: .4;
    position: absolute;
    right: 10px;
    top: 40px;
    width: 50px;
    height: 25px;
    border: 0;
    cursor: pointer;
    background-size: contain !important;
    background: no-repeat url(/Base/Images/Channels/send.png);
    background-position: center;
}

#newMsgText {
    border-radius: 10px !important;
    margin-top: 15px;
    float: left;
    width: 100%;
}

    #newMsgText .dx-state-hover {
        border-color: #dee1e3 !important;
    }

#msgPending {
    margin-top: 10px;
    line-height: 36px;
    width: 100%;
}

.lblStatusDescription {
    font-size: 14px
}

.conversationStatus {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.statusButton {
    float: right;
    margin-left: 10px;
    margin-top: -1px;
}

.conversationDescription {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.conversationBadge {
    background: #ff5252;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    min-width: 0px !important;
    border-radius: 100% !important;
    vertical-align: middle;
    color: white;
    min-height: 0px !important;
    padding-bottom: 5px;
    margin: auto;
}

.conversationState {
    text-align: center;
    height: 20px;
    line-height: 8px;
    color: #fff;
    padding: 5px;
}

.conversationState0 {
    background: #c7c735;
}

.conversationState3 {
    background: #5cb85c;
}

.conversationState2 {
    background: #ff5252;
}

.conversationState1 {
    background: #0046FE;
}

.lastMessage {
    clear: both;
    padding-top: 5px;
    text-align: center;
}

.messageWrapper {
    border-radius: 8px;
    margin-bottom: 16px;
    position: relative;
    border: 1px solid #fff;
    background-color: #ebebeb;
}

.responseMessage {
    background-color: #d9d7d7;
}

.messageSeparationLineTop {
    border-top: none;
    padding-top: 0;
}

.messageHeader {
    position: relative;
    min-height: 50px;
    padding: 6px;
    display: flex;
}

.messageContent {
    white-space: break-spaces;
    padding: 0 26px;
    padding-bottom: 6px;
}

.messageIconWrap {
    position: absolute;
    z-index: 1;
    top: 64px;
    padding: 4px;
    margin-left: 12px;
    left: 20px;
    background-size: contain !important;
    background: no-repeat url(/Base/Images/Channels/note.png);
    background-position: center;
    width: 16px;
    height: 16px;
    display: none;
}

.messagePhoto {
    width: 32px;
    height: 32px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    float: left;
    border-radius: 6px;
    display: none;
}

.messageInfo {
    float: left;
    padding-left: 20px;
}

.messageAuthor {
    font-weight: 600;
    color: #2c5cc5;
}

    .messageAuthor span {
        line-height: 20px;
    }

.messageDate {
    color: #475867;
    font-weight: 400;
    font-style: italic;
}

    .messageDate span {
    }

.statusClosedInfo {
    float: right;
    font-style: italic;
    padding-right: 10px;
}

    .statusClosedInfo:first-letter {
        text-transform: uppercase;
    }

.messageDate span {
}

.dx-field-value {
    position: absolute;
}

.printComplaintMessages {
    position: absolute;
    right: 0;
    top: 0;
}

#btnRecoverComplaint {
    margin-top: 10px;
}

span#privacyPolicyCTA, .privacyPolicyCTAEmpty {
    font-size: 13px;
    margin: 8px 0;
    display: block;
    font-weight: bold;
    color: #ff5c35;
    float: left;
    cursor: pointer;
}

.print {
    display:none;
}

@media print {
    body {
        margin: 0;
        padding: 0;
        visibility: hidden;
    }

    #main {
        overflow-y: hidden;
    }

    #main {
        height: auto !important;
        max-height: max-content !important;
        overflow: hidden;
        overflow-y:hidden;
    }

    .print {
        display: block !important;
        visibility: visible !important;
        position: absolute !important;
        width: 100% !important;
        overflow: hidden !important;
        top: 115px;
        left: 0;
        height: auto !important;
        max-height: max-content !important;
    }    

    #complaintTitle {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 10px;
        width: 100%;
    }

    #complaintRef {
        visibility: visible;
        position: absolute;
        top: 20px;
        left: 10px;
        width: 100%;
    }

    .d-flex {
        position: absolute !important;
        top: 0 !important;
        width: 100% !important;
        height: 100% !important;
        max-height: 100% !important;
    }
}

#complaintTitle {
    margin-right: 10px;
    margin-bottom: 0;
}

#complaintRef {
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
    p, .dx-widget, .dx-item-content {
        font-size: 12px !important;
    }
}

@media (max-width: 768px) {
    .h-fill {
        height: auto;
    }
}

@media (max-width: 425px) {
    #privacyPolicyCTA, #Privacy, .privacyPolicyCTAEmpty {
        font-size: 11px !important;
    }

    #privacyPolicyCTA, .privacyPolicyCTAEmpty {
        margin: 10px 0 !important;
    }

    .checkBoxPolicy {
        display: inline !important;
    }

    div#printComplaintMessages {
        margin-right: 8px;
    }

    #printComplaintMessages .dx-button-content {
        padding: 8px !important;
    }

    #printComplaintMessages .dx-icon-print {
        margin: 0 !important;
    }

    div#printComplaintMessages .dx-button-text {
        display: none;
    }

    .printComplaintMessages {
        top: -8px;
    }
}

.complaintSubject {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.list-DexMessages {
    height: 100%;
}

.dexImporantInfo {
    background-color: #fff3d8;
    color: #000;
    padding: 15px;
    margin-top: 20px;
}

.closeDEX {
    float: right;
    margin-top: 10px;
}