/* Layout */

.navbar-layout,
.navbar-layout-tablet {
    height: 100%;
    width: 100%;
    position: relative;
}
div#tabMain {
    max-width: 200px;
}
/*#tabMain .dx-menu-horizontal {
    display: none !important;
}
#tabMain .dx-menu-adaptive-mode {
    background-color: transparent;
    display: block !important;
}*/
.dx-overlay-content.dx-resizable.dx-menu-adaptive-mode {
    background-color: #f5f5ff; /*background-color: #fff;*/
    width: max-content !important;
}
.dx-menu-adaptive-mode .dx-treeview-node-container:first-child > .dx-treeview-node {
    border-bottom: 1px solid #a7a7a7;
}
.dx-menu-adaptive-mode .hamburgerMenuItem {
    opacity: 1 !important;
    color: #1c44ad !important; /*#6f7b97 !important;*/
    display: inline-block;
}
.hamburgerMenuItem::first-letter {
    text-transform: uppercase;
}
.dx-overlay-content.dx-resizable.dx-menu-adaptive-mode {
    height: calc(100vh - 44px) !important;
    border-radius: 0;
    box-shadow: none;
}
    .dx-overlay-content.dx-resizable.dx-menu-adaptive-mode .dx-scrollable-content {
        min-height: 100%;
        padding: 0 !important;
    }
    .badgeMenuIcon {
        background: red;
        width: 15px;
        display: inline-block;
        height: 15px;
        text-align: center;
        color: white;
        border-radius: 50px;
        line-height: 16px;
        font-size: 12px;
        font-weight: bold;
    }
    .navbar-layout .layout-header {
        position: absolute;
        width: 100vw;
    }

    .navbar-layout .layout-content {
        position: absolute;
        width: 100vw;
        overflow: hidden;
    }

        .navbar-layout .layout-content > div,
        .navbar-layout .transition-frame {
            height: 100%;
            width: 100vw;
        }

    .navbar-layout .layout-footer {
        width: 100vw;
        position: absolute;
        margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
        margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
    }

    .navbar-layout .view-footer {
        position: static;
    }

        .navbar-layout .view-footer .dx-toolbar {
            background: transparent;
            border: none;
            margin-bottom: 10px;
        }

            .navbar-layout .view-footer .dx-toolbar .dx-toolbar-center {
                width: 100%;
            }

    /* ios7 */

    .navbar-layout .layout-header {
        top: 0;
        height: 44px;
        padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
        padding-top: env(safe-area-inset-top); /* iOS 11.2 */
    }

    .navbar-layout .layout-content {
        top: 44px;
        bottom: 0;
    }

    .navbar-layout.has-navbar .layout-content {
        bottom: 0px;
    }

    .navbar-layout.has-navbar .layout-footer {
        height: 59px;
        bottom: 0;
    }

    .navbar-layout .view-footer .dx-toolbar {
        height: 57px;
    }

    .navbar-layout .view-footer .dx-button .dx-button-content .dx-button-text {
        font-size: 20px;
        line-height: 38px;
    }