.conversationsTreeSize {
    width: 450px;
    float: left;
    height: 100%;
    background-color: white;
}

.conversationLeftPanel {
    border-right: solid 1px #d8d8d8;
    margin: 10px 10px 0 10px;
}

    .conversationLeftPanel .treeCaption {
    }

.conversationsTreeCaption {
    height: 35px;
    background-color: #85a6ff;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    border: thin solid #85a6ff;
    width: 445px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.channelConversations {
    height: 100%;
}

.channelConversationsList {
    float: left;
}

.conversationMessages {
    float: right;
    width: 100%;
    height: 100%;
}

.conversationIcon {
    float: left;
    border-radius: 18px;
}

.conversationInfo {
    float: left;
    width: 290px !important;
    padding-right: 5px;
}

    .conversationInfo .cardName {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis
    }

.conversationDescription {
    margin-top: -5px;
}

.conversationDate {
    min-width: 100px;
    float: right;
}

.complaintText {
}

.complaintDiv {
    margin-top: 20px;
    margin-bottom: 20px;
}

.complaintHeader {
    float: left;
    width: 100%;
    margin-top: -10px !important;
    margin-bottom: 25px !important;
}

.complaintButtons {
    margin-top: 45px;
}

.emptyMessagePosition {
    position: relative;
    top: 200px;
}

.emptyConversation {
    margin: auto;
    width: 64px;
    height: 64px;
    background-size: cover !important;
    background: url(/Base/Images/StartMenuIcos/Channels.png);
}

.emptyMessage {
    text-align: center;
}

.channelConversationsActions {
    float: left;
    margin-top: 1px;
    width: 100%;
    padding-bottom: 5px;
}

.conversations {
    clear: both;
}

.messageList {
    position: relative;
    height: calc(100% - 125px);
    width: 100%;
    overflow: auto;
}

    .messageList::-webkit-scrollbar {
        width: 12px; /* width of the entire scrollbar */
    }

    .messageList::-webkit-scrollbar-track {
        background: unset; /* color of the tracking area */
    }

    .messageList::-webkit-scrollbar-thumb {
        background-color: #e5ecff; /* color of the scroll thumb */
        border-radius: 20px; /* roundness of the scroll thumb */
        border: 1px solid #e5ecff; /* creates padding around scroll thumb */
    }

.sendBox {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 20px;
}

.sendButtonContent {
    opacity: .4;
    position: absolute;
    left: calc(100% - 590px);
    top: 10px;
    width: 50px;
    height: 25px;
    border: none;
    cursor: pointer;
    background-size: contain !important;
    background: no-repeat url(/Base/Images/Channels/send.png);
    background-position: center;
}

#newMsgText {
    border-radius: 10px !important;
}

    #newMsgText .dx-state-hover {
        border-color: #dee1e3 !important;
    }

#msgPending {
    float: left;
    line-height: 36px;
}

.lblStatusDescription {
    font-size: 14px
}

.conversationStatus {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.statusButton {
    float: right;
    margin-left: 10px;
    margin-top: -1px;
}

.conversationDescription {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.conversationBadge {
    background: #ff5252;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    min-width: 0px !important;
    border-radius: 100% !important;
    vertical-align: middle;
    color: white;
    min-height: 0px !important;
    padding-bottom: 5px;
    margin: auto;
}

.conversationState {
    text-align: center;
    height: 20px;
    line-height: 8px;
    min-width: 0 !important;
    vertical-align: middle;
    color: #fff;
    min-height: 0 !important;
    padding: 5px;
    margin: auto;
}

.conversationState0 {
    background: #c7c735;
}

.conversationState3 {
    background: #5cb85c;
}

.conversationState2 {
    background: #ff5252;
}

.conversationState1 {
    background: #0046FE;
}

.lastMessage {
    clear: both;
    padding-top: 5px;
    text-align: center;
}

.conversations, .channelContentDiv {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.responseMessage {
    background-image: linear-gradient(#f5f7f9,#f5f7f9) !important;
}

.messageWrapper {
    background-image: linear-gradient(#fef1e1,#fef1e1);
    border-radius: 8px;
    margin-bottom: 16px;
    position: relative;
    border: 1px solid #fff;
}

.messageSeparationLineTop {
    border-top: none;
    padding-top: 0;
}

.messageHeader {
    position: relative;
    min-height: 65px;
    padding: 12px 16px 16px;
    display: flex;
}

.messageContent {
    white-space: break-spaces;
    padding: 0 16px 16px 68px;
}

.messageIconWrap {
    position: absolute;
    z-index: 1;
    top: 64px;
    padding: 4px;
    margin-left: 12px;
    left: 20px;
    background-size: contain !important;
    background: no-repeat url(/Base/Images/Channels/note.png);
    background-position: center;
    width: 16px;
    height: 16px;
}

.messagePhoto {
    width: 32px;
    height: 32px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    float: left;
    border-radius: 6px;
}

.messageInfo {
    float: left;
    padding-left: 20px;
}

.messageAuthor {
    font-weight: 600;
    color: #2c5cc5;
}

    .messageAuthor span {
        line-height: 20px;
    }

.messageDate {
    color: #475867;
    font-weight: 400;
    font-style: italic;
}

    .messageDate span {
    }

.statusClosedInfo {
    float: right;
    font-style: italic;
    padding-right: 10px;
}

    .statusClosedInfo:first-letter {
        text-transform: uppercase;
    }

.twoWindowsSidePanelGeneric {
    width: 410px !important;
}

.CardsTree-card > [id^=CardView_tccv] {
    height: 65px !important;
}

h3.cardName {
    font-weight: bold;
}

.printLogBook {
    float: left;
    margin-left: 10px;
}

/* Estilos para imprimir */
@media print {
    body {
        margin: 0;
        padding: 0;
        visibility: hidden;
    }

    #main {
        overflow-y: hidden;
    }

    #divMessagesList {
        visibility: visible !important;
        position: absolute !important;
        width: 100% !important;
        height: auto !important;
        overflow: hidden !important;
        top: 30px;
        left: 0;
    }

    .configField {
        visibility: visible;
        position: absolute;
        top: 0;
        width: 100%;
    }

    #showComplaintLogBook, #printLogBook {
        visibility: hidden;
    }
}