.Alerts_Table {
    margin: auto auto;
    display: table;
}

.Alerts_Description {
    display: block;
    width: 60%;
    text-align: center;
    color: #76859F;
    margin: auto auto;
    margin-top: 100px;
    font-size: 21px;
    margin-bottom: 5px;
}

.Alerts_SubDescription {
    margin-bottom: 15px;
    margin: auto auto;
    display: block;
    width: 40%;
    text-align: center;
    color: #2D4155;
}

.Alerts_Left {
    float: left;
    width: 200px;
    height: 300px;
}

.circle {
    margin: auto auto;
    background-color: #ac0f0f;
    width: 170px;
    height: 170px;
    border-radius: 110px;
    text-align: center;
    color: white;
    margin-top: 10px;
    border: 10px solid #FF3535;
}

.circleGreen {
    background-color: green;
    border: 10px solid #4AA25F;
}

.Alerts_Count {
    font-size: 130px;
    padding-top: 10px;
    display: block;
}

.Alerts_Right {
    float: left;
    width: 800px;
    min-width: 300px;
}

    .Alerts_Right span {
        font-size: 45px;
        padding-top: 20px;
        display: block;
    }

.Alerts_Main {
    float: left;
    display: table-row;
    vertical-align: middle;
    margin-left: 70px;
    /*width: 660px;*/
}

    .Alerts_Main span {
        font-size: 20px;
    }

.Alerts_TableCenter {
    margin-top: 30px;
    min-height: 170px;
    display: table;
}

.Alerts_TableRow {
    display: table-row;
}

.Alerts_Main a, .Alerts_Main a:visited {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.Table_HCenter {
    /* position: relative; */
    /* top: calc(5vh - 80px); */
    margin: auto;
    display: table;
    padding-top: 20px;
    width: 900px;
}

.Alert_BoxLine {
    display: table-row;
}

.Alerts_Warning {
    float: right;
    margin-top: -5px;
    margin-left: 15px;
    width: 30px;
    height: 30px;
}

.Alerts_OK {
    width: 120px;
    height: 100px;
    margin-top: 38px;
}