<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416612916956-f44a5h1v6583fma55bjmi79oo5f384it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416612916956-f44a5h1v6583fma55bjmi79oo5f384it</string>
	<key>API_KEY</key>
	<string>AIzaSyAij7eT_i1RESmV0qzUvXR29BXLd_KqQ5U</string>
	<key>GCM_SENDER_ID</key>
	<string>416612916956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>es.robotics.visualtime.VTPortalV2</string>
	<key>PROJECT_ID</key>
	<string>visualtime-9aa4d</string>
	<key>STORAGE_BUCKET</key>
	<string>visualtime-9aa4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416612916956:ios:4e08edfd712e3f64159e19</string>
</dict>
</plist>