<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VisualTimeConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=VisualTime;User ID=sa;Password=Ab75007500;MultipleActiveResultSets=True;Connect Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ApiService.ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=VisualTime;User ID=sa;Password=Ab75007500;MultipleActiveResultSets=True;Connect Timeout=30;" />
    <!-- Application Insights Configuration -->
    <add key="ApplicationInsights.ConnectionString" value="InstrumentationKey=6825e043-9845-40f5-b5d0-74f42d3aeb32;IngestionEndpoint=https://westeurope-5.in.applicationinsights.azure.com/;LiveEndpoint=https://westeurope.livediagnostics.monitor.azure.com/;ApplicationId=e5454841-74a2-4a66-b30d-8cc50893b21f" />
    <add key="ApplicationInsights.InstrumentationKey" value="6825e043-9845-40f5-b5d0-74f42d3aeb32" />
    <add key="ApplicationInsights.Key" value="6825e043-9845-40f5-b5d0-74f42d3aeb32" />
    <add key="SplitGroupSize" value="100" />
    <add key="DefaultLogLevel" value="0" />
    <add key="DefaultTraceLevel" value="0" />
    <add key="DebugMode" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
