<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VTSAGE200CConfigurador.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ExternalApiSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ExternalApiSoap1" />
                <binding name="ExternalApiSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="ExternalApiSoap3" />
                <binding name="ExternalApiSoap4">
                    <security mode="Transport" />
                </binding>
                <binding name="ExternalApiSoap5" />
                <binding name="ExternalApiSoap6">
                    <security mode="Transport" />
                </binding>
                <binding name="ExternalApiSoap7" />
                <binding name="ExternalApiSoap8">
                    <security mode="Transport" />
                </binding>
                <binding name="ExternalApiSoap9" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://rolive3n22.visualtime.net/VTLiveBusiness/Datalink/ExternalApi.asmx"
                binding="basicHttpBinding" bindingConfiguration="ExternalApiSoap"
                contract="WebService.ExternalApiSoap" name="ExternalApiSoap" />
            <endpoint address="https://rolive3n22.visualtime.net/VTLiveBusiness/Datalink/ExternalApi.asmx"
                binding="basicHttpBinding" bindingConfiguration="ExternalApiSoap2"
                contract="WebService.ExternalApiSoap" name="ExternalApiSoap1" />
            <endpoint address="https://rolive3n22.visualtime.net/VTLiveBusiness/Datalink/ExternalApi.asmx"
                binding="basicHttpBinding" bindingConfiguration="ExternalApiSoap4"
                contract="ServiceReference1.ExternalApiSoap" name="ExternalApiSoap2" />
            <endpoint address="https://rolive3n22.visualtime.net/VTLiveBusiness/Datalink/ExternalApi.asmx"
                binding="basicHttpBinding" bindingConfiguration="ExternalApiSoap6"
                contract="ServiceReference1.ExternalApiSoap" name="ExternalApiSoap3" />
            <endpoint address="https://rolive3n22.visualtime.net/VTLiveBusiness/Datalink/ExternalApi.asmx"
                binding="basicHttpBinding" bindingConfiguration="ExternalApiSoap8"
                contract="ServiceReference1.ExternalApiSoap" name="ExternalApiSoap4" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <VTSAGE200CConfigurador.Properties.Settings>
            <setting name="VTSAGE200CConfigurador_net_visualtime_rolive3n22_ExternalApi"
                serializeAs="String">
                <value>https://rolive3n22.visualtime.net/VTLiveBusiness/Datalink/ExternalApi.asmx</value>
            </setting>
        </VTSAGE200CConfigurador.Properties.Settings>
    </applicationSettings>
</configuration>