#editView {
    grid-area: from;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column nowrap;
}

#editView input {
    margin-left: 10px
}

.editViewBtns {
    max-height: 30px;
    grid-area: buttons;
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
    width: 600px;

}

    .editViewBtns > .editBtn {
        display: inline-block;
        padding: 5px;
        background: #0046FE;
        font-weight: bold;
        color: white;
        cursor: pointer;
        margin: 2px;
    }

        .editViewBtns > .editBtn:hover {
            color: #FF5C35;
        }

.editPlanificationBtns > .editBtn {
    display: inline-block;
    padding: 1px 5px;
    background: #FF5C35;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-right: 2px;
}

#fieldsEditor {
    display: grid;
    grid-template-areas: "title" "from" "buttons";
    grid-template-columns: 1fr;
    grid-template-rows: 60px 470px auto;
    position: absolute;
    top: 100px;
    left: 600px;
    min-width: 400px;
    border: 1px solid #FF5C35;
    background-color: white;
    -webkit-box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.39);
    box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.39);
    padding: 5px;
    z-index: 999;
    width: 650px;
}