.dxm-hovered .dxXtraReports_BtnFirstPage_Robo, .dxm-hovered .dxXtraReports_BtnLastPage_Robo, .dxm-hovered .dxXtraReports_BtnNextPage_Robo, .dxm-hovered .dxXtraReports_BtnPrevPage_Robo, .dxm-hovered .dxXtraReports_BtnPrint_Robo, .dxm-hovered .dxXtraReports_BtnPrintPage_Robo, .dxm-hovered .dxXtraReports_BtnSave_Robo, .dxm-hovered .dxXtraReports_BtnSaveWindow_Robo, .dxm-hovered .dxXtraReports_BtnSearch_Robo, .dxXtraReports_BtnFirstPage_Robo, .dxXtraReports_BtnFirstPageDisabled_Robo, .dxXtraReports_BtnLastPage_Robo, .dxXtraReports_BtnLastPageDisabled_Robo, .dxXtraReports_BtnNextPage_Robo, .dxXtraReports_BtnNextPageDisabled_Robo, .dxXtraReports_BtnPrevPage_Robo, .dxXtraReports_BtnPrevPageDisabled_Robo, .dxXtraReports_BtnPrint_Robo, .dxXtraReports_BtnPrintDisabled_Robo, .dxXtraReports_BtnPrintPage_Robo, .dxXtraReports_BtnPrintPageDisabled_Robo, .dxXtraReports_BtnSave_Robo, .dxXtraReports_BtnSaveDisabled_Robo, .dxXtraReports_BtnSaveWindow_Robo, .dxXtraReports_BtnSaveWindowDisabled_Robo, .dxXtraReports_BtnSearch_Robo, .dxXtraReports_BtnSearchDisabled_Robo, .dxXtraReports_PageBorder_blc_Robo, .dxXtraReports_PageBorder_brc_Robo, .dxXtraReports_PageBorder_tlc_Robo, .dxXtraReports_PageBorder_trc_Robo { background-image: url('sprite.svg'); background-repeat: no-repeat; background-color: transparent } 
.dxIE .dx-acc-r .dxm-hovered .dxXtraReports_BtnFirstPage_Robo::before, .dxIE .dx-acc-r .dxm-hovered .dxXtraReports_BtnLastPage_Robo::before, .dxIE .dx-acc-r .dxm-hovered .dxXtraReports_BtnNextPage_Robo::before, .dxIE .dx-acc-r .dxm-hovered .dxXtraReports_BtnPrevPage_Robo::before, .dxIE .dx-acc-r .dxm-hovered .dxXtraReports_BtnPrint_Robo::before, .dxIE .dx-acc-r .dxm-hovered .dxXtraReports_BtnPrintPage_Robo::before, .dxIE .dx-acc-r .dxm-hovered .dxXtraReports_BtnSave_Robo::before, .dxIE .dx-acc-r .dxm-hovered .dxXtraReports_BtnSaveWindow_Robo::before, .dxIE .dx-acc-r .dxm-hovered .dxXtraReports_BtnSearch_Robo::before, .dxIE .dx-acc-r .dxXtraReports_BtnFirstPage_Robo::before, .dxIE .dx-acc-r .dxXtraReports_BtnFirstPageDisabled_Robo::before, .dxIE .dx-acc-r .dxXtraReports_BtnLastPage_Robo::before, .dxIE .dx-acc-r .dxXtraReports_BtnLastPageDisabled_Robo::before, .dxIE .dx-acc-r .dxXtraReports_BtnNextPage_Robo::before, .dxIE .dx-acc-r .dxXtraReports_BtnNextPageDisabled_Robo::before, .dxIE .dx-acc-r .dxXtraReports_BtnPrevPage_Robo::before, .dxIE .dx-acc-r .dxXtraReports_BtnPrevPageDisabled_Robo::before, .dxIE .dx-acc-r .dxXtraReports_BtnPrint_Robo::before, .dxIE .dx-acc-r .dxXtraReports_BtnPrintDisabled_Robo::before, .dxIE .dx-acc-r .dxXtraReports_BtnPrintPage_Robo::before, .dxIE .dx-acc-r .dxXtraReports_BtnPrintPageDisabled_Robo::before, .dxIE .dx-acc-r .dxXtraReports_BtnSave_Robo::before, .dxIE .dx-acc-r .dxXtraReports_BtnSaveDisabled_Robo::before, .dxIE .dx-acc-r .dxXtraReports_BtnSaveWindow_Robo::before, .dxIE .dx-acc-r .dxXtraReports_BtnSaveWindowDisabled_Robo::before, .dxIE .dx-acc-r .dxXtraReports_BtnSearch_Robo::before, .dxIE .dx-acc-r .dxXtraReports_BtnSearchDisabled_Robo::before, .dxIE .dx-acc-r .dxXtraReports_PageBorder_blc_Robo::before, .dxIE .dx-acc-r .dxXtraReports_PageBorder_brc_Robo::before, .dxIE .dx-acc-r .dxXtraReports_PageBorder_tlc_Robo::before, .dxIE .dx-acc-r .dxXtraReports_PageBorder_trc_Robo::before { width: 107px } 
.dxm-hovered .dxXtraReports_BtnFirstPage_Robo { background-position: -19px -38px; width: 18px; height: 18px } 
.dxm-hovered .dxXtraReports_BtnLastPage_Robo { background-position: -76px -19px; width: 18px; height: 18px } 
.dxm-hovered .dxXtraReports_BtnNextPage_Robo { background-position: -38px 0px; width: 18px; height: 18px } 
.dxm-hovered .dxXtraReports_BtnPrevPage_Robo { background-position: -57px -19px; width: 18px; height: 18px } 
.dxm-hovered .dxXtraReports_BtnPrint_Robo { background-position: -51px -57px; width: 16px; height: 16px } 
.dxm-hovered .dxXtraReports_BtnPrintPage_Robo { background-position: -17px -74px; width: 16px; height: 16px } 
.dxm-hovered .dxXtraReports_BtnSave_Robo { background-position: -85px -57px; width: 16px; height: 16px } 
.dxm-hovered .dxXtraReports_BtnSaveWindow_Robo { background-position: -51px -74px; width: 16px; height: 16px } 
.dxm-hovered .dxXtraReports_BtnSearch_Robo { background-position: 0px -57px; width: 16px; height: 16px } 
.dxXtraReports_BtnFirstPage_Robo { background-position: 0px -38px; width: 18px; height: 18px } 
.dxXtraReports_BtnFirstPageDisabled_Robo { background-position: -57px 0px; width: 18px; height: 18px } 
.dxXtraReports_BtnLastPage_Robo { background-position: -76px 0px; width: 18px; height: 18px } 
.dxXtraReports_BtnLastPageDisabled_Robo { background-position: 0px 0px; width: 18px; height: 18px } 
.dxXtraReports_BtnNextPage_Robo { background-position: -19px 0px; width: 18px; height: 18px } 
.dxXtraReports_BtnNextPageDisabled_Robo { background-position: 0px -19px; width: 18px; height: 18px } 
.dxXtraReports_BtnPrevPage_Robo { background-position: -38px -19px; width: 18px; height: 18px } 
.dxXtraReports_BtnPrevPageDisabled_Robo { background-position: -19px -19px; width: 18px; height: 18px } 
.dxXtraReports_BtnPrint_Robo { background-position: -72px -38px; width: 16px; height: 16px } 
.dxXtraReports_BtnPrintDisabled_Robo { background-position: -89px -38px; width: 16px; height: 16px } 
.dxXtraReports_BtnPrintPage_Robo { background-position: 0px -74px; width: 16px; height: 16px } 
.dxXtraReports_BtnPrintPageDisabled_Robo { background-position: -55px -38px; width: 16px; height: 16px } 
.dxXtraReports_BtnSave_Robo { background-position: -34px -57px; width: 16px; height: 16px } 
.dxXtraReports_BtnSaveDisabled_Robo { background-position: -68px -74px; width: 16px; height: 16px } 
.dxXtraReports_BtnSaveWindow_Robo { background-position: -68px -57px; width: 16px; height: 16px } 
.dxXtraReports_BtnSaveWindowDisabled_Robo { background-position: -34px -74px; width: 16px; height: 16px } 
.dxXtraReports_BtnSearch_Robo { background-position: -38px -38px; width: 16px; height: 16px } 
.dxXtraReports_BtnSearchDisabled_Robo { background-position: -17px -57px; width: 16px; height: 16px } 
.dxXtraReports_PageBorder_blc_Robo { background-position: -95px -19px; width: 10px; height: 10px } 
.dxXtraReports_PageBorder_brc_Robo { background-position: -85px -74px; width: 10px; height: 10px } 
.dxXtraReports_PageBorder_tlc_Robo { background-position: -95px 0px; width: 10px; height: 10px } 
.dxXtraReports_PageBorder_trc_Robo { background-position: -96px -74px; width: 10px; height: 10px } 
.dxXtraReports_PageBorder_t_Robo,
.dxXtraReports_PageBorder_l_Robo,
.dxXtraReports_PageBorder_r_Robo,
.dxXtraReports_PageBorder_b_Robo {
padding: 0px;
background-color: transparent;
}

.dxXtraReports_PageBorder_t_Robo {
background-image: url('pageTopBorder.svg');
background-repeat: repeat-x;
width: 1px;
height: 10px;
}

.dxXtraReports_PageBorder_l_Robo {
background-image: url('pageLeftBorder.svg');
background-repeat: repeat-y;
width: 10px;
height: 1px;
}

.dxXtraReports_PageBorder_r_Robo {
background-image: url('pageRightBorder.svg');
background-repeat: repeat-y;
width: 10px;
height: 1px;
}

.dxXtraReports_PageBorder_b_Robo {
background-image: url('pageBottomBorder.svg');
background-repeat: repeat-x;
width: 1px;
height: 10px;
}

