.dxsplControl_Robo .dxmLiteReportToolbarPane
{
    background-color: #f1f1f1;
    padding: 0;
}
.dxmLiteReportToolbarPane .dxrControl_Robo.dxr-tabsHidden .dxr-tabContent
{
    border-top: none;
    border-left: none;
    border-right: none;
}
.dxmLiteReportToolbarPane .dxmLite_Robo .dxm-main.dxmtb
{
    padding-top: 2px;
    padding-bottom: 2px;
}
.dxmLiteReportToolbarPane .dxmLite_Robo .dxm-horizontal.dxmtb .dxm-image-l .dxm-separator
{
    margin-top: -2px;
}
.dxmLiteReportToolbarPane .dxmLite_Robo .dxm-horizontal.dxmtb .dxm-image-l .dxm-separator b
{
    padding-bottom: 6px;
}
