@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace Emplyx.Blazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" integrity="sha384-WzgrlLomqKgkl0vvArkH5AO9M/dwZ0pniS3pSkeCZMt2rt7NmexG99nmHn7+O3O5" crossorigin="anonymous" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="Emplyx.Blazor.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Ha ocurrido un error. Es posible que la aplicacion no responda hasta recargar.
        </environment>
        <environment include="Development">
            Se produjo una excepcion no controlada. Consulta las dev tools para mas informacion.
        </environment>
        <a href="" class="reload">Recargar</a>
        <a class="dismiss">Cerrar</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
