<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
  -->
	<swaggerwcf>
		<settings xdt:Transform="Remove" />
		<settings  xdt:Transform="Insert">
			<setting name="InfoDescription" value="Bienvenido a la pagina de especificacion de la API REST de cegid Visualtime" />
			<setting name="InfoVersion" value="1.0.0" />
			<setting name="InfoTitle" value="Web API para cegid Visualtime" />
			<setting name="InfoContactName" value="cegid Visualtime" />
		</settings>
	</swaggerwcf>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="wcf:serviceHostingEnvironment:useClassicReadEntityBodyMode" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="CosmosDB.ConnectionString" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="CosmosDB.DBName" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ApplicationInsights.Key" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="IISDistributedEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ApiService.ConnectionString" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="URL.VTLive" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="URL.VTPortal" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>

	<system.serviceModel>
		<services xdt:Transform="Remove" />
		<services xdt:Transform="Insert">
			<service name="SwaggerWcf.SwaggerWcfEndpoint">
				<endpoint address="" behaviorConfiguration="VTLiveApi.swaggerBehaviour" binding="webHttpBinding" bindingConfiguration="webBinding" contract="SwaggerWcf.ISwaggerWcfEndpoint" />
				<endpoint address="" behaviorConfiguration="VTLiveApi.swaggerBehaviour" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="SwaggerWcf.ISwaggerWcfEndpoint" />
			</service>
			<service name="VTLiveApi.EmployeeService" behaviorConfiguration="restBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTLiveApi.IEmployeesService" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTLiveApi.IEmployeesService" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
			</service>
			<service name="VTLiveApi.EmployeeService_v2" behaviorConfiguration="restBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTLiveApi.IEmployeesService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTLiveApi.IEmployeesService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
			</service>
			<service name="VTLiveApi.GroupService" behaviorConfiguration="restBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTLiveApi.IGroupsService" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTLiveApi.IGroupsService" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
			</service>
			<service name="VTLiveApi.GroupService_v2" behaviorConfiguration="restBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTLiveApi.IGroupsService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTLiveApi.IGroupsService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
			</service>
			<service name="VTLiveApi.AbsencesService" behaviorConfiguration="restBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTLiveApi.IAbsencesService" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTLiveApi.IAbsencesService" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
			</service>
			<service name="VTLiveApi.AbsencesService_v2" behaviorConfiguration="restBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTLiveApi.IAbsencesService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTLiveApi.IAbsencesService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
			</service>
			<service name="VTLiveApi.ScheduleService" behaviorConfiguration="restBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTLiveApi.IScheduleService" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTLiveApi.IScheduleService" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
			</service>
			<service name="VTLiveApi.ScheduleService_v2" behaviorConfiguration="restBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTLiveApi.IScheduleService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTLiveApi.IScheduleService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
			</service>
			<service name="VTLiveApi.PunchesService" behaviorConfiguration="restBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTLiveApi.IPunchesService" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTLiveApi.IPunchesService" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
			</service>
			<service name="VTLiveApi.PunchesService_v2" behaviorConfiguration="restBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTLiveApi.IPunchesService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTLiveApi.IPunchesService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
			</service>
			<service name="VTLiveApi.AccrualsService" behaviorConfiguration="restBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTLiveApi.IAccrualsService" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTLiveApi.IAccrualsService" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
			</service>
			<service name="VTLiveApi.AccrualsService_v2" behaviorConfiguration="restBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTLiveApi.IAccrualsService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTLiveApi.IAccrualsService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
			</service>
			<service name="VTLiveApi.TasksService_v2" behaviorConfiguration="restBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTLiveApi.ITasksService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTLiveApi.ITasksService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
			</service>
			<service name="VTLiveApi.DocumentsService" behaviorConfiguration="restBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTLiveApi.IDocumentsService" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTLiveApi.IDocumentsService" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
			</service>
			<service name="VTLiveApi.DocumentsService_v2" behaviorConfiguration="restBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTLiveApi.IDocumentsService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTLiveApi.IDocumentsService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
			</service>
			<service name="VTLiveApi.PortalSvcx">
				<endpoint address="" behaviorConfiguration="VTLiveApi.SvcxAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTLiveApi.PortalSvcx" />
				<endpoint address="" behaviorConfiguration="VTLiveApi.SvcxAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTLiveApi.PortalSvcx" />
			</service>
			<service name="VTLiveApi.TerminalSvcx">
				<endpoint address="" behaviorConfiguration="VTLiveApi.SvcxAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTLiveApi.TerminalSvcx" />
				<endpoint address="" behaviorConfiguration="VTLiveApi.SvcxAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTLiveApi.TerminalSvcx" />
			</service>
			<service name="VTLiveApi.ExternalApi">
				<endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="webBasicBinding" contract="VTLiveApi.IExternalApi" />
				<endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="stdBasicBinding" contract="VTLiveApi.IExternalApi" />
			</service>
			<service name="VTLiveApi.RequestsService_v2" behaviorConfiguration="restBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTLiveApi.IRequestsService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTLiveApi.IRequestsService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
			</service>
			<service name="VTLiveApi.AccessService_v2" behaviorConfiguration="restBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTLiveApi.IAccessService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTLiveApi.IAccessService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
			</service>
			<service name="VTLiveApi.DailyCausesService_v2" behaviorConfiguration="restBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTLiveApi.IDailyCausesService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTLiveApi.IDailyCausesService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
			</service>
			<service name="VTLiveApi.SupervisorsService_v2" behaviorConfiguration="restBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTLiveApi.ISupervisorsService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTLiveApi.ISupervisorsService_v2" behaviorConfiguration="VTLiveApi.webHttpBehavior" />
			</service>
		</services>
	</system.serviceModel>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm" />
      </customErrors>
    -->
	</system.web>
</configuration>