<?xml version="1.0" encoding="utf-8" ?>
<parameters>
	<parameter Name="Font" Value="11px Century Gothic,Segoe UI,Arial,Helvetica,sans-serif"></parameter>
	<parameter Name="Base Color" Value="#D76D1D" Type="Color"></parameter>
	<parameter Name="Light Color" Value="#F3E1D3" Type="Color" Base="Base Color" Expression="0.98,0.15,1.13"></parameter>
	<parameter Name="Dark Color" Value="#D15F0A" Type="Color" Base="Base Color" Expression="1,1.1,0.97"></parameter>
	<parameter Name="Editors Color" Value="#864412" Type="Color" Base="Base Color" Expression="1,1,0.621"></parameter>
	<parameter Name="Voted Rating" Value="#994D15" Type="Color" Base="Base Color" Expression="1,1,0.71"></parameter>
</parameters>
