.dxSpreadsheet_TouchResize_Robo { background-image: url('sprite.svg'); background-repeat: no-repeat; background-color: transparent; width: 20px; height: 20px } 
.dxIE .dx-acc-r .dxSpreadsheet_TouchResize_Robo::before { width: 21px } 
.dxSpreadsheet_TouchResize_Robo { background-position: 0px 0px } 

