.dxssControl_Robo
{
    border-style: none;
    font: 11px Century Gothic,Segoe UI,Arial,Helvetica,sans-serif;
}
.dxssControl_Robo .dxss-gl .dxss-v,
.dxssControl_Robo .dxss-gl .dxss-h
{
    border-color: rgba(0,0,0,0.1);
}
.dxssControl_Robo .dxss-rowHeader
{
    border-right: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
}
.dxssControl_Robo .dxss-colHeader
{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
}
.dxssControl_Robo .dxss-crse
{
    background-color: #D76D1D;
    opacity: .20;
}
.dxssControl_Robo .dxss-trbe
{
    border-top-color: #D76D1D;
}
.dxssControl_Robo .dxss-rrbe
{
    border-right-color: #D76D1D;
}
.dxssControl_Robo .dxss-brbe
{
    border-bottom-color: #D76D1D;
}
.dxssControl_Robo .dxss-lrbe
{
    border-left-color: #D76D1D;
}
.dxssControl_Robo .dxss-fh
{
    background-color: #D76D1D;
}
.dxssControl_Robo .dxss-sbe
{
    border-color: #D76D1D;
}
.dxssControl_Robo .dxss-sbe
{
    border-color: #D76D1D;
}
.dxssControl_Robo .dxtcLite_Robo.dxtc-bottom > .dxtc-stripContainer .dxtc-rightIndent,
.dxssControl_Robo .dxtcLite_Robo.dxtc-bottom > .dxtc-stripContainer .dxtc-leftIndent
{
    width: 0px;
}
.dxssControl_Robo .dxrControl_Robo .dxtcLite_Robo.dxtc-top .dxtc-leftIndent
{
    width: 0px;
}
.dxssControl_Robo .dxtcLite_Robo.dxtc-bottom .dxtc-leftIndent
{
    width: 8px;
}
.dxssControl_Robo .dxss-hrg,
.dxssControl_Robo .dxss-vrg
{
    background-color: #D76D1D;
}
.dxssControl_Robo .dxss-md
{
    border-left: 1px solid rgba(0,0,0,0.1) !important;
    border-right: 1px solid rgba(0,0,0,0.1) !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.dxssControl_Robo .dxrControl_Robo .dxmLite_Robo .dxm-item
{
    padding: 7px 20px 6px 22px;
}
.dxssControl_Robo .dxrControl_Robo .dxmLite_Robo .dxm-item
{
    padding: 0 4px;
}
.dxssControl_Robo .dxss-tse
{
    border-color: #D76D1D;
}
.dxssControl_Robo .dxss-tre
{
    background: url('TouchResize.svg');
}
.dxssControl_Robo .dxss-ddp,
.dxssControl_Robo .dxss-ddb
{
    border: 1px solid rgba(0,0,0,0.1);
}
.dxssControl_Robo .dxss-ddp tr:hover
{
    background-color: #e0e0e0;
}
/* Loading panel */
.dxssLoadingDiv_Robo
{
    background: white;
    opacity: 0.85 !important;
    filter: alpha(opacity=85);
}
.dxssLoadingPanel_Robo
{
    background-color: white;
    font: 11px Century Gothic,Segoe UI,Arial,Helvetica,sans-serif;
    color: #666;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxssLoadingPanel_Robo td.dx
{
    font-size: 1.17em;
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
.dxssLoadingPanel_Robo .dxlp-loadingImage
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    animation: dxLoadSpinSys 1s linear infinite;
    border: 4px solid #D76D1D;
    border-top: 4px solid #EEE;
    width: 24px;
    height: 24px;
}
html.dxIE.dxBrowserVersion-9 .dxssLoadingPanel_Robo .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    animation: none;
    border: none;
    border-radius: 0;
}
/* DX Spreadsheet Cell Editor Element, Formula Bar, IntelliSense elements */
.dxssControl_Robo .dxss-ctve
{
    border: 2px solid #D76D1D;
    /*the same -dxss-cfe */
}
.dxssControl_Robo .dxss-fb
{
    height: 32px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border-top-width: 0;
}
.dxssControl_Robo .dxss-fbw
{
    padding: 7px 8px 7px 7px;
    border: 1px solid #DCDCDC;
    background-color: white;
}
.dxFirefox .dxssControl_Robo .dxss-fbw
{
    padding: 7px 8px 6px 7px;
}
.dxssControl_Robo .dxmLite_Robo .dxss-fbMenu
{
    height: 32px;
    border: 0;
    background-color: transparent;
    background-image: none;
}
.dxssControl_Robo .dxss-fbMenu .dxm-content
{
    padding-top: 8px !important;
    padding-left: 27px !important;
    padding-right: 27px !important;
    padding-bottom: 0px !important;
}
.dxssControl_Robo .dxss-hint
{
    border: 1px solid #dedede;
    background-color: #FFFFFF;
    padding: 3px 8px 4px 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
.dxssControl_Robo .dxss-hint,
.dxss-funcLB.dxeListBox_Robo
{
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxssControl_Robo .dxss-hint.dxss-funcInfo
{
    margin-left: 10px;
    margin-right: 10px;
}
.dxpnlControl_Robo .dxssDlgPageSetupForm
{
    width: 530px;
}
.dxssDlgPageSetupForm .dxssPSContainer .dxssPageControl.dxtcLite_Robo .dxtc-content
{
    padding-top: 0;
    padding-bottom: 10px;
}
.dxssDlgPageSetupForm .dxssPSContainer .dxssPageControl.dxtcLite_Robo
{
    margin-top: 16px;
}
.dxssDlgPageSetupForm .dxtcLite_Robo > .dxtc-stripContainer .dxtc-link
{
    padding: 4px 25px;
}
.dxpnlControl_Robo .dxssDlgPageSetupForm .dxeButtonEdit_Robo
{
    min-width: 75px;
}
.dxpnlControl_Robo .dxssDlgPageSetupForm .dxssPSPrintContainer
{
    padding: 10px 19px 10px 10px;
    margin-bottom: 4px;
}
.dxpnlControl_Robo .dxssDlgPageSetupForm .dxtcLite_Robo > .dxtc-content
{
    padding: 0px;
}
.dxssControlSys .dxmLite_Robo .dxm-popup .dxm-checked img[class*="ssRibbonGIcons_PageMarginsNormal"],
.dxssControlSys .dxmLite_Robo .dxm-popup .dxm-checked img[class*="ssRibbonGIcons_PageMarginsWide"],
.dxssControlSys .dxmLite_Robo .dxm-popup .dxm-checked img[class*="ssRibbonGIcons_PageMarginsNarrow"],
.dxssControlSys .dxmLite_Robo .dxm-popup .dxm-checked span[class*="ssRibbonGIcons_PageMarginsNormal"],
.dxssControlSys .dxmLite_Robo .dxm-popup .dxm-checked span[class*="ssRibbonGIcons_PageMarginsWide"],
.dxssControlSys .dxmLite_Robo .dxm-popup .dxm-checked span[class*="ssRibbonGIcons_PageMarginsNarrow"]
{
    margin-top: 3px !important;
}
.dxssControlSys .dxmLite_Robo .dxm-popup img[class*="ssRibbonGIcons_PageMarginsNormal"],
.dxssControlSys .dxmLite_Robo .dxm-popup img[class*="ssRibbonGIcons_PageMarginsWide"],
.dxssControlSys .dxmLite_Robo .dxm-popup img[class*="ssRibbonGIcons_PageMarginsNarrow"],
.dxssControlSys .dxmLite_Robo .dxm-popup span[class*="ssRibbonGIcons_PageMarginsNormal"],
.dxssControlSys .dxmLite_Robo .dxm-popup span[class*="ssRibbonGIcons_PageMarginsWide"],
.dxssControlSys .dxmLite_Robo .dxm-popup span[class*="ssRibbonGIcons_PageMarginsNarrow"]
{
    margin-top: 3px !important;
}
.dxssFCFormLayout .dxflGroupCell_Robo
{
    padding: 0 10px;
}
.dxpcLite_Robo .dxssDlgFormatCellsForm
{
    width: 623px;
}
.dxeListBox_Robo.dxssFCType
{
    width: 400px !important;
    height: 159px !important;
}
.dxeListBox_Robo.dxssFCType .dxlbd
{
    width: 398px !important;
}
.dxeListBox_Robo.dxssFCCategory
{
    width: 150px !important;
    height: 350px !important;
    margin-top: 13px;
}
.dxflGroup_Robo.dxssFCDescription
{
    height: 85px;
    padding-top: 13px !important;
}
.dxssFCFormLayout .dxflGroupBox_Robo
{
    padding-bottom: 8px;
    margin-bottom: 12px;
}
.dxssFCSampleGroup .dxflItem_Robo
{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.dxeControlsCell_Robo > .dxssFCDecimalPlaces
{
    width: 100px !important;
}
/* Cell Editing */
.dxssControl_Robo.icbem .dxss-inputTarget
{
    border: 2px solid #D76D1D;
}
/*Cell position hint*/
.dxssControl_Robo .dxss-cell-pos-hint
{
    background-color: #D76D1D;
    color: white;
}
.dxrControl_Robo .dxssRibbonCBSmall
{
    width: 100px;
}
.dxrControl_Robo .dxssRibbonCBLarge
{
    width: 130px;
}
/* --------------Select-All----------------- */
.dxssControl_Robo .dxss-ssbi
{
    border-color: transparent;
    border-bottom-color: #cecece;
}
.dxssControl_Robo .dxss-ssb:hover .dxss-ssbi
{
    border-bottom-color: #a8a8a8;
}
/* ----------Add-Sheet-Button---------------*/
.dxssControl_Robo .dxss-ast-btn:before,
.dxssControl_Robo .dxss-ast-btn:after
{
    background-color: #747474;
}
.dxssControl_Robo .dxss-ast-circle:hover .dxss-ast-btn:before,
.dxssControl_Robo .dxss-ast-circle:hover .dxss-ast-btn:after
{
    background-color: #D76D1D;
}
.dxssControl_Robo .dxss-ast
{
    border-top: 1px solid rgba(0,0,0,0.08);
}
.dxssControl_Robo .dxss-ast .dxss-ast-circle
{
    margin-top: 10px;
}
/* --------------Dialogs----------------- */
.dxssControl_Robo .dxss-dialogSimpleFooterGroup,
.dxssControl_Robo .dxss-dialogFooter
{
    border-top: 1px #dfdfdf solid;
    padding: 10px 19px 11px 10px;
}
.dxssControl_Robo .dxss-dialog .dxss-dialogFooterBtn
{
    width: 100px !important;
}
.dxssControl_Robo .dxss-dialog .dxss-imagePreviewCell
{
    color: #878787;
    border: dashed 1px #cac8c8;
}
.dxssControl_Robo .dxss-customDataFilterForm .dxss-dialogRadionButtonList .dxe,
.dxssControl_Robo .dxss-dialogHeaderGroup .dxss-dialogRadionButtonList .dxe
{
    padding-top: 0px;
    padding-bottom: 0px;
}
.dxssControl_Robo .dxss-changeChartTypeForm .dxss-chartsbtn div.dxb
{
    padding: 6px 9px 7px;
}
.dxssControl_Robo .dxss-changeChartTypeForm .dxss-chartsbtn
{
    width: auto;
}
.dxssControl_Robo .dxss-changeChartTypeForm .dxtcLite_Robo.dxtc-left > .dxtc-stripContainer .dxtc-link
{
    padding-right: 5px;
}
@media (max-width: 400px)
{
    .dxssControl_Robo .dxss-dialog .dxss-dialogRadionButtonList .dxichTextCellSys
    {
        padding-right: 5px;
    }
    .dxssControl_Robo .dxss-saveFileAsForm .dxss-dialogContentGroup,
    .dxssControl_Robo .dxss-insertLinkForm .dxss-dialogContentGroup
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    .dxssControl_Robo .dxss-changeChartTypeForm .dxtcLite_Robo.dxtc-left > .dxtc-stripContainer .dxtc-link
    {
        padding-left: 5px;
        padding-right: 10px;
    }
    .dxssControl_Robo .dxss-changeChartTypeForm .dxtcLite_Robo > .dxtc-content
    {
        padding-left: 7px;
        padding-right: 7px;
        text-align: center;
    }
    .dxssControl_Robo .dxss-changeChartTypeForm .dxss-dialogSimpleContentGroup
    {
        padding-left: 7px;
        padding-right: 7px;
    }
    .dxssControl_Robo .dxss-modifyTableStyleForm .dxss-dialogSimpleContentGroup
    {
        padding-left: 5px;
        padding-right: 5px;
    }
    .dxssControl_Robo .dxss-modifyTableStyleForm .dxtcLite_Robo.dxtc-left > .dxtc-stripContainer .dxtc-link
    {
        padding-left: 6px;
        padding-right: 5px;
    }
    .dxssControl_Robo .dxss-modifyTableStyleForm .dxtcLite_Robo > .dxtc-content
    {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
}
/*---------Change-Chart-Style-Dialog-------*/
.dxss-modifyChartStyleContent .dxbButtonHover_Robo
{
    color: white;
    background-color: #D76D1D;
    border: 1px solid #D76D1D;
}
.dxss-modifyChartStyleContent .dxbButtonChecked_Robo
{
    color: #666;
    background-color: #C0C0C0;
}
.dxss-modifyChartStyleContent .dxbButtonPressed_Robo
{
    color: white;
    background-color: #C0C0C0;
}
.dxss-modifyChartStyleContent .dxbButton_Robo div.dxb
{
    padding-left: 9px;
    padding-right: 9px;
}
.dxss-modifyChartStyleContent .dxbButton_Robo
{
    border-width: 1px;
    border-style: solid;
    width: auto;
}
.dxeBase_Robo.dxss-cbFindMatch td.dxichCellSys,
.dxeBase_Robo.dxss-cbFindMatch td.dxichTextCellSys
{
    padding-top: 6px;
}
/* Format as Table */
.dxss-modifyChartStyleContent .dxbButton_Robo div.dxb
{
    padding-left: 3px;
    padding-right: 3px;
}
.dxss-modifyChartStyleContent .dxbButton_Robo div.dxbf
{
    padding-left: 2px;
    padding-right: 2px;
}
/*-----Filter-Dialogs-----*/
.dxss-validationConfirmForm .dxbButton_Robo div.dxb,
.dxss-dataFilterSimpleForm .dxbButton_Robo div.dxb
{
    padding-left: 5px;
    padding-right: 5px;
}
@media (max-width: 475px)
{
    .dxss-dataValidationForm .dxbButton_Robo div.dxb,
    .dxss-dataFilterSimpleForm .dxbButton_Robo div.dxb
    {
        padding-left: 1px;
        padding-right: 1px;
    }
    .dxpnlControl_Robo .dxss-dataFilterSimpleForm .dxss-dialogControlsWrapper > tbody > tr > td:first-child
    {
        display: none;
    }
    .dxssControl_Robo .dxss-dataValidationForm .dxss-dialogSimpleFooterGroup,
    .dxssControl_Robo .dxss-dataFilterSimpleForm .dxss-dialogSimpleFooterGroup
    {
        padding-left: 0px;
        padding-right: 2px;
    }
    .dxssControl_Robo .dxss-dialog.dxss-dataValidationForm .dxss-dialogFooterBtn,
    .dxssControl_Robo .dxss-dialog.dxss-validationConfirmForm .dxss-dialogFooterBtn,
    .dxssControl_Robo .dxss-dialog.dxss-dataFilterSimpleForm .dxss-dialogFooterBtn
    {
        width: 85px !important;
    }
}
/*---Page-Setup-Dialog---*/
.dxssControl_Robo .dxss-pageSetupForm .dxss-pageSetupContent > div:first-child
{
    padding-right: 0px;
    padding-left: 7px;
}
.dxssControl_Robo .dxss-pageSetupForm .dxss-pageSetupContent .dxss-customPaddingGroup
{
    padding-left: 0px;
    padding-right: 10px;
}
.dxss-customPaddingGroup .dxflGroupCell_Robo
{
    padding-right: 0px;
    padding-left: 0px;
}
.dxssControl_Robo .dxss-dialog .dxss-shortEditor
{
    min-width: 90px;
    max-width: 90px;
}
.dxssControl_Robo .dxss-pageSetupForm .dxss-orientationGroup
{
    padding-left: 0px;
    padding-right: 0px;
}
.dxssControl_Robo .dxss-pageSetupForm .dxss-scalingGroup,
.dxssControl_Robo .dxss-pageSetupForm .dxss-pagePrintGroup,
.dxssControl_Robo .dxss-pageSetupForm .dxss-firstPageGroup
{
    padding-left: 7px;
}
/*---Floating-content---*/
.dxssControl_Robo .dxss-pageSetupForm .dxss-scalingGroup > div:first-child,
.dxssControl_Robo .dxss-pageSetupForm .dxss-scalingGroup > div:nth-child(3)
{
    width: 25% !important;
}
.dxssControl_Robo .dxss-pageSetupForm .dxss-scalingGroup > div:nth-child(2)
{
    width: 75% !important;
}
.dxssControl_Robo .dxss-pageSetupForm .dxss-scalingGroup > div:nth-child(5)
{
    width: 35% !important;
}
/*---Spin-edits---*/
.dxss-marginPreviewContainer .dxss-previewTable .dxeButtonEditSys .dxeSpinIncButton_Robo,
.dxss-marginPreviewContainer .dxss-previewTable .dxeButtonEditSys .dxeSpinDecButton_Robo
{
    padding-left: 2px;
    padding-right: 2px;
}
.dxssControl_Robo .dxss-pageSetupContent .dxss-HFMainGroup
{
    padding-left: 0px;
    padding-right: 10px;
}
.dxssControl_Robo .dxss-previewTable .dxeCaptionCell_Robo
{
    padding-bottom: 3px;
}
/*---Custom-Header-Footer-Dialog---*/
.dxssControl_Robo .dxss-headerFooterContent .dxss-HFHeaderGroup,
.dxssControl_Robo .dxss-headerFooterContent .dxss-HFFooterGroup
{
    padding-left: 0px;
    padding-right: 0px;
}
.dxss-headerFooterContent .dxss-HFHeaderGroup .dxflGroupCell_Robo,
.dxss-headerFooterContent .dxss-HFFooterGroup .dxflGroupCell_Robo
{
    padding-left: 0px;
    padding-right: 10px;
}
/***Data*Validation***/
.dxss-dataValidationForm .dxtcLite_Robo .dxss-dvContent
{
    min-height: 314px;
}
.dxss-dataValidationForm .dxtcLite_Robo .dxss-dvSettingsContent
{
    min-height: 270px;
}
.dxss-dataValidationForm .dxtcLite_Robo .dxss-dvSettingsContent .dxss-dvDescriptionRow
{
    padding-top: 5px;
}
.dxssControl_Robo .dxss-dataValidationForm .dxss-zeroPaddingGroup
{
    padding-right: 0px;
    padding-left: 0px;
}
.dxssControl_Robo .dxss-ssb:hover .dxss-ssbi
{
    border-bottom-color: #D76D1D;
}
