.page[b-k2gzd5m4j5] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-k2gzd5m4j5] {
    flex: 1;
}

.sidebar[b-k2gzd5m4j5] {
    background-color: #001F3F;
}

.top-row[b-k2gzd5m4j5] {
    background-color: #007BFF;
    border-bottom: 1px solid #0056b3;
    justify-content: space-between;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-k2gzd5m4j5]  a, .top-row[b-k2gzd5m4j5]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
        color: white;
    }

    .top-row[b-k2gzd5m4j5]  a:hover, .top-row[b-k2gzd5m4j5]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-k2gzd5m4j5]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-k2gzd5m4j5] {
        justify-content: space-between;
    }

    .top-row[b-k2gzd5m4j5]  a, .top-row[b-k2gzd5m4j5]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-k2gzd5m4j5] {
        flex-direction: row;
    }

    .sidebar[b-k2gzd5m4j5] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        transition: width 0.2s ease-in-out;
    }

    .top-row[b-k2gzd5m4j5] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-k2gzd5m4j5]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-k2gzd5m4j5], article[b-k2gzd5m4j5] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-k2gzd5m4j5] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-k2gzd5m4j5] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.sidebar.collapsed[b-k2gzd5m4j5] {
    width: 60px;
}

.sidebar.collapsed[b-k2gzd5m4j5]  .nav-scrollable {
    overflow: visible;
}

.sidebar.collapsed[b-k2gzd5m4j5]  .nav-item {
    padding: 0;
}

.sidebar.collapsed[b-k2gzd5m4j5]  .nav-item a {
    justify-content: center;
}

.sidebar.collapsed[b-k2gzd5m4j5]  .navbar-brand {
    display: none;
}

.navbar-toggler[b-k2gzd5m4j5] {
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    background: none;
    border: none;
    color: white;
    padding: 0;
}

.navbar-toggler-icon[b-k2gzd5m4j5] {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}