.navbar-toggler[b-2v7zwwtjur] {
    display: none;
}

.nav-scrollable[b-2v7zwwtjur] {
    /* Never collapse the sidebar for wide screens */
    display: block;
}

.dropdown-menu.show[b-2v7zwwtjur] {
    display: block;
}

.bi-house-door-fill-nav-menu[b-2v7zwwtjur]::before {
    content: "\f425";
}

.bi-plus-square-fill-nav-menu[b-2v7zwwtjur]::before {
    content: "\f521";
}

.bi-list-nested-nav-menu[b-2v7zwwtjur]::before {
    content: "\f47d";
}