.twoWindowsSidePanelGeneric {
    width: 410px !important;
}

.CardsTree-card > [id^=CardView_tccv] {
    height: 65px !important;
}

h3.cardName {
    font-weight: bold;
}

.saveOrDiscartDiv {
    background-color: #e4a26f;
    margin-bottom: 5px;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 5px;
    justify-content: space-between;
    padding: 5px;
}

.saveOrDiscartDiv > span {
}

.saveOrDiscartDiv a.editingActionBtn {
    text-decoration: none;
    color: white;
}

.saveOrDiscartDiv a.editingActionBtn:hover {
    font-weight: bold;
}

#mainPanelDisplay {
    flex-grow: 1;
    overflow-y: hidden;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 0.5vw;
}

.onlyEditButtons {
    width: 85px;
    margin-left: auto;
}

.dx-field-label.definition {
    width: 100% !important;
    overflow: visible !important;
}

#ckruleActivated {
    float: left;
    color: #8899a8;
}