<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <appSettings>
	  <add key="ClientPath" value="C:\temp\files\"/>
	  <!-- CompanyId del cliente donde se  p.ej. "idi01"-->
	  <add key="Container" value="idi01"/>
	  <!-- CompanyId del cliente donde se  p.ej. "idi01"-->
	  <add key="Blob" value="idi01"/>
	  <!-- Ruta que se utiliza para dejar los ficheros de logs p.ej. "C:\temp\logs\"-->
	  <add key="LogPath" value="C:\temp\logs\"/>
	  <add key="PrinterMarginLeft" value="1"/>
	  <add key="PrinterMarginTop" value="1"/>
	  <!-- Modo de trabajao. Solo se acepta el valor Client. p.ej. "Client"-->
	  <add key="Behaviour" value="Client"/>
	  <!-- Nombre del storage utilizado p.ej. "romtidi01storage"-->
	  <add key="StorageKey" value="romtidi01storage"/>
	  <add key="IsMT" value="true"/>
	  <!-- SaaS token del storage para poder conectar y bajar los tickets para imprimirlos p.ej. "?sv=2020-10-02&st=2022-06-13T06%3A53%3A57Z&se=2022-06-14T06%3A53%3A57Z&sr=c&sp=rl&sig=iKV%2Fu4LdNu6KFPYJ7lQRoHmzl3Ye1pkLs5AVc4WQ%2BYw%3D"-->
	  <add key="StorageConnectionString" value=""/>
	  <!-- Nombre de la impresora que se utilizara para imprimir los tickets p.ej. "HP Laserjet 2100"-->
	  <add key="PrinterName" value="" />
	  <add key="StorageFolder" value="dinerv2/certificacion" />

	  <add key="PrinterLine0Size" value="" />
	  <add key="PrinterLine1Size" value="" />
	  <add key="PrinterLine2Size" value="" />
	  <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
