.navbar-toggler {
    display: none;
}

.nav-scrollable {
    /* Never collapse the sidebar for wide screens */
    display: block;
}

.dropdown-menu.show {
    display: block;
}

.bi-house-door-fill-nav-menu::before {
    content: "\f425";
}

.bi-plus-square-fill-nav-menu::before {
    content: "\f521";
}

.bi-list-nested-nav-menu::before {
    content: "\f47d";
}