.conditionTab {
    clear: both;
}

.actionTab {
    clear: both;
}

.actionHeader {
    width: 1100px;
}

.conditionHeader {
    width: 1100px;
}

.conditionContent {
    min-width: 1080px;
    height: 150px !important;
}

.actionContent {
    min-width: 1080px;
    height: 110px !important;
}

.ui-accordion .ui-accordion-content {
    padding: 0 !important;
}

#directValue > .dxeErrorFrameWithoutError .dxeControlsCell, .dxeErrorFrameWithoutError.dxeControlsCell {
    padding: 0px;
}