<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appSettings>
		<add key="CosmosDB.ConnectionString" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="CosmosDB.DBName" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ApplicationInsights.Key" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="IISDistributedEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="VTLive.PushServer.ClassicLogs" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ApiService.ConnectionString" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="URL.VTLive" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="URL.VTPortal" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
	<system.serviceModel>
		<services xdt:Transform="Remove" />
		<services xdt:Transform="Insert">
			<service name="VTTerminalsPushServer.TerminalSvcx">
				<endpoint address="" behaviorConfiguration="VTTerminalsPushServer.SvcxAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTTerminalsPushServer.TerminalSvcx" />
				<endpoint address="" behaviorConfiguration="VTTerminalsPushServer.SvcxAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTTerminalsPushServer.TerminalSvcx" />
			</service>
		</services>
	</system.serviceModel>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>