<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="CosmosDB.ConnectionString" value="mongodb://rscosmosdev:uIalSOw2BNUNGvuDtnyM7vkq4wLD9ZMT0fhh7fE9XXkJUCcKQlXeioOyiYiFlngJ6hEjqJzQCE95DOsGjTmpPQ==@rscosmosdev.mongo.cosmos.azure.com:10255/?ssl=true&amp;replicaSet=globaldb&amp;retrywrites=false&amp;maxIdleTimeMS=120000&amp;appName=@rscosmosdev@" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="CosmosDB.DBName" value="dev" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ApplicationInsights.Key" value="c1d41278-c57f-4b31-8e8a-d541793ffd7d" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="IISDistributedEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="VTLive.PushServer.ClassicLogs" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ApiService.ConnectionString" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="URL.VTLive" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="URL.VTPortal" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
	<system.web>
	</system.web>
</configuration>