
dxSpriteWidth { width : 538 }

.dxm-hovered .dxXtraReports_BtnFirstPage_Material1, .dxm-hovered .dxXtraReports_BtnLastPage_Material1, .dxm-hovered .dxXtraReports_BtnNextPage_Material1, .dxm-hovered .dxXtraReports_BtnPrevPage_Material1, .dxm-hovered .dxXtraReports_BtnPrint_Material1, .dxm-hovered .dxXtraReports_BtnPrintPage_Material1, .dxm-hovered .dxXtraReports_BtnSave_Material1, .dxm-hovered .dxXtraReports_BtnSaveWindow_Material1, .dxm-hovered .dxXtraReports_BtnSearch_Material1, .dxXtraReports_BtnFirstPage_Material1, .dxXtraReports_BtnFirstPageDisabled_Material1, .dxXtraReports_BtnLastPage_Material1, .dxXtraReports_BtnLastPageDisabled_Material1, .dxXtraReports_BtnNextPage_Material1, .dxXtraReports_BtnNextPageDisabled_Material1, .dxXtraReports_BtnPrevPage_Material1, .dxXtraReports_BtnPrevPageDisabled_Material1, .dxXtraReports_BtnPrint_Material1, .dxXtraReports_BtnPrintDisabled_Material1, .dxXtraReports_BtnPrintPage_Material1, .dxXtraReports_BtnPrintPageDisabled_Material1, .dxXtraReports_BtnSave_Material1, .dxXtraReports_BtnSaveDisabled_Material1, .dxXtraReports_BtnSaveWindow_Material1, .dxXtraReports_BtnSaveWindowDisabled_Material1, .dxXtraReports_BtnSearch_Material1, .dxXtraReports_BtnSearchDisabled_Material1, .dxXtraReports_PageBorder_blc_Material1, .dxXtraReports_PageBorder_brc_Material1, .dxXtraReports_PageBorder_tlc_Material1, .dxXtraReports_PageBorder_trc_Material1 { background-image: url('sprite.svg'); background-repeat: no-repeat; background-color: transparent } 
.dxIE .dx-acc-r .dxm-hovered .dxXtraReports_BtnFirstPage_Material1::before, .dxIE .dx-acc-r .dxm-hovered .dxXtraReports_BtnLastPage_Material1::before, .dxIE .dx-acc-r .dxm-hovered .dxXtraReports_BtnNextPage_Material1::before, .dxIE .dx-acc-r .dxm-hovered .dxXtraReports_BtnPrevPage_Material1::before, .dxIE .dx-acc-r .dxm-hovered .dxXtraReports_BtnPrint_Material1::before, .dxIE .dx-acc-r .dxm-hovered .dxXtraReports_BtnPrintPage_Material1::before, .dxIE .dx-acc-r .dxm-hovered .dxXtraReports_BtnSave_Material1::before, .dxIE .dx-acc-r .dxm-hovered .dxXtraReports_BtnSaveWindow_Material1::before, .dxIE .dx-acc-r .dxm-hovered .dxXtraReports_BtnSearch_Material1::before, .dxIE .dx-acc-r .dxXtraReports_BtnFirstPage_Material1::before, .dxIE .dx-acc-r .dxXtraReports_BtnFirstPageDisabled_Material1::before, .dxIE .dx-acc-r .dxXtraReports_BtnLastPage_Material1::before, .dxIE .dx-acc-r .dxXtraReports_BtnLastPageDisabled_Material1::before, .dxIE .dx-acc-r .dxXtraReports_BtnNextPage_Material1::before, .dxIE .dx-acc-r .dxXtraReports_BtnNextPageDisabled_Material1::before, .dxIE .dx-acc-r .dxXtraReports_BtnPrevPage_Material1::before, .dxIE .dx-acc-r .dxXtraReports_BtnPrevPageDisabled_Material1::before, .dxIE .dx-acc-r .dxXtraReports_BtnPrint_Material1::before, .dxIE .dx-acc-r .dxXtraReports_BtnPrintDisabled_Material1::before, .dxIE .dx-acc-r .dxXtraReports_BtnPrintPage_Material1::before, .dxIE .dx-acc-r .dxXtraReports_BtnPrintPageDisabled_Material1::before, .dxIE .dx-acc-r .dxXtraReports_BtnSave_Material1::before, .dxIE .dx-acc-r .dxXtraReports_BtnSaveDisabled_Material1::before, .dxIE .dx-acc-r .dxXtraReports_BtnSaveWindow_Material1::before, .dxIE .dx-acc-r .dxXtraReports_BtnSaveWindowDisabled_Material1::before, .dxIE .dx-acc-r .dxXtraReports_BtnSearch_Material1::before, .dxIE .dx-acc-r .dxXtraReports_BtnSearchDisabled_Material1::before, .dxIE .dx-acc-r .dxXtraReports_PageBorder_blc_Material1::before, .dxIE .dx-acc-r .dxXtraReports_PageBorder_brc_Material1::before, .dxIE .dx-acc-r .dxXtraReports_PageBorder_tlc_Material1::before, .dxIE .dx-acc-r .dxXtraReports_PageBorder_trc_Material1::before { width: 538px } 
.dxm-hovered .dxXtraReports_BtnFirstPage_Material1 { background-position: 0px 0px; background-size: 538px auto; width: 18px; height: 18px } 
.dxm-hovered .dxXtraReports_BtnLastPage_Material1 { background-position: -220px 0px; background-size: 538px auto; width: 18px; height: 18px } 
.dxm-hovered .dxXtraReports_BtnNextPage_Material1 { background-position: -200px 0px; background-size: 538px auto; width: 18px; height: 18px } 
.dxm-hovered .dxXtraReports_BtnPrevPage_Material1 { background-position: -180px 0px; background-size: 538px auto; width: 18px; height: 18px } 
.dxm-hovered .dxXtraReports_BtnPrint_Material1 { background-position: -456px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxm-hovered .dxXtraReports_BtnPrintPage_Material1 { background-position: -438px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxm-hovered .dxXtraReports_BtnSave_Material1 { background-position: -240px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxm-hovered .dxXtraReports_BtnSaveWindow_Material1 { background-position: -474px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxm-hovered .dxXtraReports_BtnSearch_Material1 { background-position: -492px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxXtraReports_BtnFirstPage_Material1 { background-position: -120px 0px; background-size: 538px auto; width: 18px; height: 18px } 
.dxXtraReports_BtnFirstPageDisabled_Material1 { background-position: -140px 0px; background-size: 538px auto; width: 18px; height: 18px } 
.dxXtraReports_BtnLastPage_Material1 { background-position: -80px 0px; background-size: 538px auto; width: 18px; height: 18px } 
.dxXtraReports_BtnLastPageDisabled_Material1 { background-position: -100px 0px; background-size: 538px auto; width: 18px; height: 18px } 
.dxXtraReports_BtnNextPage_Material1 { background-position: -40px 0px; background-size: 538px auto; width: 18px; height: 18px } 
.dxXtraReports_BtnNextPageDisabled_Material1 { background-position: -60px 0px; background-size: 538px auto; width: 18px; height: 18px } 
.dxXtraReports_BtnPrevPage_Material1 { background-position: -20px 0px; background-size: 538px auto; width: 18px; height: 18px } 
.dxXtraReports_BtnPrevPageDisabled_Material1 { background-position: -160px 0px; background-size: 538px auto; width: 18px; height: 18px } 
.dxXtraReports_BtnPrint_Material1 { background-position: -366px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxXtraReports_BtnPrintDisabled_Material1 { background-position: -420px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxXtraReports_BtnPrintPage_Material1 { background-position: -384px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxXtraReports_BtnPrintPageDisabled_Material1 { background-position: -402px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxXtraReports_BtnSave_Material1 { background-position: -294px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxXtraReports_BtnSaveDisabled_Material1 { background-position: -348px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxXtraReports_BtnSaveWindow_Material1 { background-position: -312px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxXtraReports_BtnSaveWindowDisabled_Material1 { background-position: -330px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxXtraReports_BtnSearch_Material1 { background-position: -258px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxXtraReports_BtnSearchDisabled_Material1 { background-position: -276px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxXtraReports_PageBorder_blc_Material1 { background-position: -522px 0px; background-size: 538px auto; width: 10px; height: 10px } 
.dxXtraReports_PageBorder_brc_Material1 { background-position: 0px -20px; background-size: 538px auto; width: 10px; height: 10px } 
.dxXtraReports_PageBorder_tlc_Material1 { background-position: -510px 0px; background-size: 538px auto; width: 10px; height: 10px } 
.dxXtraReports_PageBorder_trc_Material1 { background-position: -12px -20px; background-size: 538px auto; width: 10px; height: 10px } 
.dxXtraReports_PageBorder_t_Material1,
.dxXtraReports_PageBorder_l_Material1,
.dxXtraReports_PageBorder_r_Material1,
.dxXtraReports_PageBorder_b_Material1 {
    padding: 0px;
    background-color: transparent;
}

.dxXtraReports_PageBorder_t_Material1 {
    background-image: url('pageTopBorder.svg');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}

.dxXtraReports_PageBorder_l_Material1 {
    background-image: url('pageLeftBorder.svg');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_r_Material1 {
    background-image: url('pageRightBorder.svg');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_b_Material1 {
    background-image: url('pageBottomBorder.svg');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}



