.dxsplControl_Material1 .dxmLiteReportToolbarPane
{
    background-color: #f1f1f1;
    padding: 0;
}
.dxmLiteReportToolbarPane .dxrControl_Material1.dxr-tabsHidden .dxr-tabContent
{
    border-top: none;
    border-left: none;
    border-right: none;
}
.dxmLiteReportToolbarPane .dxmLite_Material1 .dxm-main.dxmtb
{
    padding-top: 2px;
    padding-bottom: 2px;
}
.dxmLiteReportToolbarPane .dxmLite_Material1 .dxm-horizontal.dxmtb .dxm-image-l .dxm-separator
{
    margin-top: -2px;
}
.dxmLiteReportToolbarPane .dxmLite_Material1 .dxm-horizontal.dxmtb .dxm-image-l .dxm-separator b
{
    padding-bottom: 6px;
}
table.dxXtraReports_PageTable .dxXtraReports_PageBorder_blc_Material1:before,
table.dxXtraReports_PageTable .dxXtraReports_PageBorder_brc_Material1:before,
table.dxXtraReports_PageTable .dxXtraReports_PageBorder_tlc_Material1:before,
table.dxXtraReports_PageTable .dxXtraReports_PageBorder_trc_Material1:before
{
    content: none;
}
