@import url('./src/normalize.css');
@import url('./src/foundation-5.5.3.min.css');
@import url('./src/font-awesome.min.css');
@import url('./src/dataTables.foundation.css');
@import url('./src/jquery.datetimepicker.css');

html {
}

@font-face {
    font-family: "Robotics";
    src: local("Poppins"),local("Poppins-Regular"),url(../fonts/Poppins-Regular.ttf) format("truetype");
    /*src: local("Roboto"),local("Roboto-Regular"),url(../fonts/Roboto-Regular.ttf) format("truetype");*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Robotics";
    src: url(../fonts/Poppins-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* evitem q dx.spa.css ens posi uns valors q no volem*/
span, label {
    font-size: 0.91em !important;
}
/************************************************/
/***************FOUNDATION***********************/
div, span, p, button, .button {
    font-family: "Robotics" !important;
}

    .button:hover {
        background-color: #ff5c35 !important;
        color: #fff !important;
    }

ul.pagination li.current a, ul.pagination li.current button {
    background-color: #0046FE;
}

.button, button {
    background-color: #0046FE;
}

#topBar .button {
    font-size: 16px; /* 0.8em;*/
}
/*input[type=text], input[type=password] {
    padding: 0.3rem !important;
    margin: 0.3rem !important;
    height: 2rem !important;
}*/

.appLogo {
    width: 52px;
    height: 52px;
}

.alert-input {
    padding: 0.1em;
    margin-top: -4px;
    background-color: #f04124;
    border-color: #de2d0f;
    color: #FFFFFF;
    font-size: small;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 100%;
}

label {
    margin: 0.3rem 0 0 0 !important;
}

.row {
    max-width: none;
}

/* Small screens */
/* Define mobile styles */
@media only screen {
    .loginfrmlabel, loginfrminput {
        display: block !important;
        text-align: center !important;
        width: 100% !important;
    }

    #gest-visits, #gest-visitors, #opt-visitfields, #opt-visittypes, #opt-visitorfields, .table-title {
        width: 99%;
        margin: auto;
    }

    #loginfooter {
        width: 95%;
    }

    #plani-right {
        width: 95%;
        float: none;
    }
}

.fa-times {
    color: #ff4d4d;
}
/***************FOUNDATION***********************/
/************************************************/

/************************************************/
/***************    LOGIN    *********************/

.loginfull {
    width: 100%;
    height: 100%;
}

#backgroundcolumn {
    background-image: url("../img/Q1-1.jpg");
    float: left;
    width: 75%;
    height: 100%;
    background-size: cover;
}

#logincolumn {
    height: 100%;
    float: right;
    width: 25%;
}

.logincenter {
    display: flex;
    margin: 0 auto;
    width: 95%;
    align-items: center;
    height: 100%;
    position: relative;
}

#logincolumn input {
    width: 95%;
    margin: 5px auto 10px auto;
    display: inline-block;
}

.formtext {
    margin-bottom: 1rem;
}

.login-form-space {
    display: block;
}

.loginfrmlabel {
    display: inline-block;
    text-align: right;
    width: 30%;
}

.loginfrminput {
    display: inline-block;
    text-align: right;
    width: 75%;
}

.loginfrmchginput {
    display: inline-block;
    text-align: right;
    width: 100%;
}

#apptitle {
    font-family: Robotics;
    font-size: 32px;
    color: #ff8321;
    /* top: 20%; */
    /* position: relative; */
    text-align: center;
    margin-top: 10%;
}

#formlogin {
    position: relative;
    text-align: center;
}

#loginfooter {
    position: absolute;
    top: calc(100vh - 30px);
    text-align: center;
    display: block;
    width: 100%
}
/***************    LOGIN    *********************/
/************************************************/

.row.title {
    background-color: #0046fe;
    color: white;
    width: calc(100% + 40px);
    padding: 5px;
    margin: -17px 0px 10px -20px;
}

#gest-visits, #gest-visitors, #opt-visitfields, #opt-visittypes, #opt-visitorfields {
    width: 95%;
    margin: auto;
}

.table_footer {
    background-color: #b6cfd8;
    width: 100%;
    height: 5px;
}

.table-title {
    width: 100%;
    margin: auto;
    background-color: #b6cfd8;
    height: 45px;
    padding-top: 5px;
    color: white;
}

    .table-title span {
        padding: 5px;
        display: block;
    }

    .table-title .button {
        margin-bottom: 0px;
    }

        .table-title .button span {
            padding: initial;
        }

.hide, .hide_ {
    display: none !important;
}

.visit-item, .visit-item-search {
    border-bottom: solid 3px #0046FE;
    margin-bottom: 5px !important;
}

.plani-subtab {
    float: left;
    width: 70%;
    overflow: hidden;
}

#plani-right {
    float: right;
    width: 28%;
}

.visit-item .button {
    margin: 8px 0px 0px 0px;
}

#plani-status {
    margin-left: 5px;
}
/*
     .visit-item-scheduled {
    border-bottom-color: #0000ff !important;
}
.visit-item-inprogress {
    border-bottom-color: #73bd5e !important;
}
.visit-item-finished{
    border-bottom-color: #a44747 !important;
}
.visit-item-notpresented{
    border-bottom-color: #4e4343 !important;
}
    */

.visit-label {
    font-size: small;
}

.visit-item i {
    padding-top: 10px;
    font-size: 24px;
    color: #0046FE;
}

#plani-clock {
    background-color: #FF5C35;
    color: white;
}

.inputbox {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

#logo {
    font-family: Robotics !important;
    font-size: 18px;
    color: #fff;
    padding: 0px
}

    #logo img {
        margin-right: 2rem;
    }

a {
    color: #0046fe;
    text-decoration: none;
}

#topBar {
    background-color: #0046FE;
}

    #topBar .row {
        max-width: 100% !important;
    }

    #topBar .button {
        margin-bottom: 0px;
    }

.topbar {
    background-color: #85a6ff;
}

    .topbar.row {
        max-width: 100% !important;
    }

    .topbar .button {
        margin-bottom: 0px;
        background-color: #85a6ff;
        font-size: 0.9rem;
    }

#tab-plani-date {
    background-color: #FF5C35;
    color: #fff;
    padding: 0.2em;
}

.pan {
    position: relative;
    left: 50%;
    width: 50%;
    background-color: red;
}

button, .button {
    color: #fff !important;
}

.html-editor input[type="text"][readonly] {
    background-color: #fff;
}

.active {
    background-color: #FF5C35 !important;
    color: #fff !important;
    font-weight: bolder;
}

    .active a {
        color: #fff;
    }

        .active a:hover {
            color: #fff;
        }

#plani-right input, #plani-right select {
    width: 95%;
    margin: 0px auto !important;
}

#plani-right div {
    text-align: center;
}

.plani-new {
    width: 60%;
    background-color: #0046fe;
    height: 52px;
}

.search-dropdown {
    border: 2px solid #0046FE;
}

.label-configurator {
    border: 2px solid #0046FE;
}

.mod-visit-visitor-item, .mod-visit-employee-item {
    display: inline-block;
    background-color: rgb(255, 222, 137);
    padding: 1px 5px;
    margin-right: 5px;
}

.visitor-item-red {
    background-color: #ff3e3e !important;
}

    .visitor-item-red a {
        color: #fff;
    }

    .visitor-item-red i {
        color: #FFFFFF;
    }

.switch, .switch label {
    margin: 0px !important;
}

.add {
    width: 200px;
    height: 25px;
    color: #0046FE;
    /* background-color: #0046FE; */
    display: inline-block;
    padding: 2px 4px 2px 4px;
    overflow: hidden;
}

    .add:hover {
        width: auto;
    }

.imgrow {
    width: 25px;
    height: 25px;
}

#visit-row-employee {
    min-height: 30px;
}

.celread {
    padding-top: 7px;
}

#mod-visit-novisitors-div {
    display: inline-block;
    padding-left: 4px !important;
}

.pagebreak {
    page-break-before: always;
}

.print-background {
    -webkit-print-color-adjust: exact !important;
}

/*.column {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
}*/

#tab-plani-date-input {
    width: 242px;
    height: 26px;
    margin: 0px !important;
    text-align: center !important;
    padding: 0px !important;
    background-color: #FF5C35;
    border: 0px;
    box-shadow: none;
}

.title {
    font-size: Large;
    font-weight: bold;
}

.subtabtitle {
    background-color: #49879D;
    color: white;
    display: none;
}

#newVisits {
    margin: 0 auto 5px auto;
    max-width: 480px;
}

table tr td {
    padding: 0.3rem 0.2rem !important;
}

#visitors-list input[type="checkbox"] {
    margin-top: 4px;
    margin-bottom: 0rem;
}

#visit-visitors {
    display: inline-block;
}

.visit-visitor-item {
    display: inline-block;
    margin-right: 20px;
    padding: 2px;
    background-color: #00eeee;
    margin-top: 5px;
}

#gest-visits-columns, #gest-visitors-columns, #gest-visits-filters, #gest-visitors-filters {
    font-size: 0.9rem;
    text-align: center;
}

.gest-top-title {
    font-size: 0.8rem;
    background-color: #0046fe;
    color: white;
    text-align: center;
}

.gest-top-title-home {
    font-size: 0.8rem;
    background-color: #0046fe;
    color: white;
    text-align: center;
}

#gest-visits-filters-values div, #gest-visitors-filters-values div {
    display: inline-block;
    padding-right: 10px;
    margin-left: -5px;
}

.togglenext {
    cursor: default;
}

.resetinput {
    cursor: default;
}

#mod-visit-repeat {
    vertical-align: middle;
}

#mod-visit-repeat-label {
    width: 85%;
}

#mod-visitor-punches {
    padding-left: 4px;
    margin-right: -5px;
}

    #mod-visit-punches table td, #mod-visit-punches table th, #mod-visitor-punches table td, #mod-visitor-punches table th {
        font-size: 0.7rem !important;
    }

table i {
    width: 25px !important;
    margin-right: 5px;
    text-align: left !important;
}

    table i.fa.fa-caret-square-o-up {
        margin-left: -4px;
    }

.xdsoft_option {
    color: rgb(102, 102, 102) !important;
}

#gest-visits-filters-values, #gest-visits-columns-values {
    background-color: #efefef !important;
}

#gest-visitors-filters-values, #gest-visitors-columns-values {
    background-color: #efefef !important;
}

    #gest-visits-filters-values .button, #gest-visitors-filters-values .button {
        margin-top: 0px !important;
    }

#gest_filter_button {
    background-color: #0046FE !important;
    font-size: .77rem;
}

input.toggle-visits {
    margin: 0px;
    vertical-align: middle;
}

input.toggle-visitors {
    margin: 0px;
    vertical-align: middle;
}

#mainmenu {
    position: absolute;
    background: white;
    width: 400px;
    display: none;
    height: 150px;
    border: 1px solid #0046FE;
    padding: 5px;
    z-index: 9999;
}

#applabel, #versionlabel {
    font-weight: bolder;
}

.smallmenu a {
    font-size: 0.7em;
}

.smallmenu i {
    font-size: 1.5em;
}

#mainmenu i {
    font-weight: 600;
    color: #0046FE;
}

/*************Datatable*******/
.dataTables_length {
    visibility: hidden;
}

/*****************************/

/******   Datapicket   *******/
.xdsoft_datetimepicker .xdsoft_label {
    background-color: inherit !important;
}

.xdsoft_datetimepicker .xdsoft_datepicker.active + .xdsoft_timepicker {
    margin-top: 0px;
}

.dataTables_info {
    display: none;
}
/********************/
select {
    margin: .6rem !important;
}

input {
    margin: .6rem !important;
}

.select-print {
    /*margin: .3rem !important;*/
}

/*foundation 6.0.0 estava modificant el marge de la searchbox de dx :/ */
.dx-texteditor-input {
    margin: 0 !important;
}

.dx-command-edit .dx-link {
    text-decoration: none;
    font-size: 18px;
    margin: 0 3px;
}

    .dx-command-edit .dx-link:hover {
        opacity: 0.8;
    }

.editCommandsContainer {
    display: flex;
    justify-content: center;
}

#mod-visitorlist-buttons-add {
    float: right;
}

#mod-visitorlist-buttons-cancel {
    float: right;
    margin-left: .7rem;
}

#gest-visits-devextreme {
    margin: 0em 1em;
}

.align-left {
    float: left;
}

#visitors-content {
    max-width: 800px;
    margin: 0px auto;
}

    #visitors-content .row.title {
        background-color: #0046fe;
        color: #fff;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

.LogoLogin .tbd_bar_textVersion {
    color: #ff8321;
    font-family: Robotics;
    font-size: 32px;
    padding-bottom: 2rem;
}

.LogoLogin .tbd_bar_textExpress {
    float: left;
    position: absolute;
    left: 206px;
    top: 42px;
    color: #ff8321;
    font-family: Robotics;
    font-size: 22px;
}