.bg-first {
    background: url(../images/bgdefault.png);
    width: 100%;
    height: 1200px;
    background-size: cover;
    overflow: hidden;
}

.div-first {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a.logo-first {
    display: block;
    background: url("../2/Images/Logo_VT5.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    width: 321px;
    height: 116px;
    padding-top: 92px;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
    font-family: Arial,Verdana,Sans-Serif;
    font-size: 11px;
    color: #42628C;
}