@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .dx-theme-android, .fixedButton {
        bottom: 70px !important;
    }

    .bigProfile .serverTimeText, .bigProfile .userNameText, .bigProfile .serverDateText, .bigProfile .productivTaskText, .bigProfile .costCenterText {
        height: 30px !important;
    }

    .smallProfile .serverTimeText, .smallProfile .userNameText, .smallProfile .serverDateText, .smallProfile .productivTaskText, .smallProfile .costCenterText {
        height: 15px !important;
    }

    .dx-calendar-navigator .dx-calendar-navigator-previous-view, .dx-calendar-navigator .dx-calendar-navigator-next-view {
        color: #5a5a5a !important;
        display: inline-table;
    }

    .employeeCenter {
        height: auto !important;
    }

    .dx-popup-bottom .dx-toolbar-after {
        width: auto !important;
        height: auto !important;
    }

        .dx-popup-bottom .dx-toolbar-after .dx-item {
            text-align: inherit !important;
        }

    .smallTextDescription {
        font-size: 10px;
        word-wrap: break-word;
        white-space: pre-wrap;
        line-height: 15px;
    }
}