.inline-dp,
.inline-ck {
    float: left;
}

.inline-dp {
    margin-top: 5px;
}

span.inline-ck {
    line-height: 35px;
    margin: 0;
}

.validate-div {
    float: left;
    width: 100%;
    margin-bottom: -8px;
    margin-top: -10px;
}

.labelForm {
    padding-left: 15px;
    text-align: left !important;
    width: calc(100% - 20px) !important;
    margin-bottom: 5px;
    margin-top: 5px;
}

.componentForm {
    float: left;
    width: calc(100% - 155px);
    padding-left: 50px;
}

.divRowDescription > span {
    display: none;
}

.optionPanelRoboticsV2 {
    padding: 0;
    margin: -8px -17px -9px -11px;
    float: left;
}

span.help {
    padding-left: 45px;
    color: #FF5C35;
    font-weight: bold;
    font-style: italic;
}