.topbar-actions[b-5oala19asg] {
    display: flex;
    gap: 0.5rem;
}

.topbar-actions .btn[b-5oala19asg] {
    border-radius: 999px;
    display: inline-flex;
    align-items: center;
    gap: 0.35rem;
    font-weight: 600;
}

.topbar-actions .btn i[b-5oala19asg] {
    font-size: 1rem;
}
