<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <Configuration>Multitennant</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>C:\Work\VisualTimeMTDeploy\fnSenerFunction</PublishDir>
    <PublishUrl>C:\Work\VisualTimeMTDeploy\fnSenerFunction</PublishUrl>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net48</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
  </PropertyGroup>
</Project>