.dxtlControl_Material1
{
    cursor: default;
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #484848;
    border: 1px #dfdfdf;
}
.dxtlControl_Material1 caption
{
    font-size: 1.25em;
    font-weight: normal;
    padding: 3px 3px 5px;
    text-align: center;
    color: #999999;
}
.dxtlControl_Material1 .dxtlDataTable
{
    border: 1px solid #DFDFDF;
}
/* Indent cells */
.dxtlIndent_Material1,
.dxtlIndentWithButton_Material1
{
    vertical-align: top;
    background: white none no-repeat top center;
}
.dxtlIndent_Material1
{
    padding: 0 11px;
}
.dxtlIndentWithButton_Material1
{
    padding: 8px 7px 3px;
}
.dxtlSelectionCell_Material1
{
    padding: 4px 5px 6px 6px;
    border: 1px solid #DFDFDF;
}
/* Tree-lines cells */
/* Headers */
.dxtlHeader_Material1
{
    white-space: nowrap;
    padding: 21px 10px 17px;
    border: 1px solid #DFDFDF;
    border-width: 0 0 1px 0;
    background-color: white;
    color: black;
    overflow: hidden;
    font-weight: normal;
    text-align: left;
    font: 14px 'Roboto Medium', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    font-size: 1em;
}
.dxtlHeader_Material1 table.dxtl
{
    border-collapse: collapse;
    width: 100%;
}
.dxtlHeader_Material1 td.dxtl
{
    padding: 0;
}
.dxtlHeader_Material1,
.dxtlHeader_Material1 td.dxtl
{
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
}
/* Nodes */
.dxtlNode_Material1
{
    background: white none;
}
.dxtlAltNode_Material1
{
    background-color: #f5f5f5;
}
.dxtlSelectedNode_Material1
{
    background: #f1f1f1 none;
}
.dxtlFocusedNode_Material1
{
    background: #FF5C35 none;
    color: white;
}
.dxtlInlineEditNode_Material1
{
    background: white none;
}
.dxtlEditFormDisplayNode_Material1
{
    background: white none;
}
.dxtlNode_Material1 td.dxtl,
.dxtlAltNode_Material1 td.dxtl,
.dxtlSelectedNode_Material1 td.dxtl,
.dxtlFocusedNode_Material1 td.dxtl,
.dxtlEditFormDisplayNode_Material1 td.dxtl,
.dxtlCommandCell_Material1
{
    padding: 3px 10px 4px;
    border: 1px solid #DFDFDF;
    white-space: nowrap;
    overflow: hidden;
}
.dxtlHeader_Material1 .dxbButton_Material1,
.dxtlCommandCell_Material1 .dxbButton_Material1
{
    margin-left: 5px;
    margin-right: 5px;
}
.dxtlHeader_Material1 .dxbButton_Material1 .dxb,
.dxtlCommandCel_Material1 .dxbButton_Material1 .dxb
{
    padding-top: 0;
    padding-bottom: 2px;
}
.dxtlInlineEditNode_Material1 td.dxtl
{
    border: 1px solid #DFDFDF;
    padding: 1px;
}
/* Preview */
.dxtlPreview_Material1
{
    color: #999999;
    padding: 14px;
    border: 1px solid #DFDFDF;
    overflow: hidden;
}
/* Footers */
.dxtlGroupFooter_Material1 td.dxtl,
.dxtlFooter_Material1 td.dxtl
{
    padding: 5px 10px 6px;
    white-space: nowrap;
    border: 1px solid #DFDFDF;
    overflow: hidden;
}
.dxtlGroupFooter_Material1 .dx-ar > br,
.dxtlFooter_Material1 .dx-ar > br
{
    float: none;
}
/* Pagers */
.dxtlPagerTopPanel_Material1,
.dxtlPagerBottomPanel_Material1
{
    padding: 9px 0 9px;
}
.dxtlPagerTopPanel_Material1
{
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #DFDFDF;
}
.dxtlPagerBottomPanel_Material1
{
    border: 1px solid #DFDFDF;
    border-top-style: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}
/* Editing */
.dxtlEditForm_Material1
{
    border: 1px solid #DFDFDF;
    background-color: #f4f4f4;
    padding: 21px 7px 23px;
}
.dxtlEditFormCaption_Material1,
.dxtlEditFormEditCell_Material1
{
    padding: 4px;
}
.dxtlEditFormCaption_Material1
{
    padding-left: 10px;
    white-space: nowrap;
}
.dxtlError_Material1
{
    background: #FFC8C8 none;
    color: #FF0000;
    padding: 6px 10px;
    border: 1px solid #DFDFDF;
}
.dxtlPopupEditForm_Material1
{
    padding: 10px;
    min-width: 300px;
}
.dxtlEditForm_Material1 .dxtlCommandCell_Material1,
.dxtlPopupEditForm_Material1 .dxtlCommandCell_Material1
{
    padding-top: 12px;
    padding-bottom: 12px;
}
.dxtlEditForm_Material1 .dxtlCommandCell_Material1 a,
.dxtlPopupEditForm_Material1 .dxtlCommandCell_Material1 a
{
    margin-left: 2px;
    margin-right: 2px;
    padding: 8px 16px;
    margin-top: -8px;
    margin-bottom: -8px;
}
.dxtlEditForm_Material1 .dxtlCommandCell_Material1 a:hover,
.dxtlPopupEditForm_Material1 .dxtlCommandCell_Material1 a:hover
{
    background-color: #d1d1d1;
    text-decoration: none;
}
/* Links */
.dxtlControl_Material1 a.dxeHyperlink:not([href]):not([onclick]):not(.dxbButtonSys)
{
    color: #484848;
    text-decoration: none;
}
.dxtlControl_Material1 a
{
    color: #FF5C35;
}
.dxtlFocusedNode_Material1 a
{
    color: white !important;
}
.dxtlCommandCell_Material1 a
{
    margin-right: 5px;
}
/* Customization window */
.dxtlControl_Material1 .dxpcLite_Material1 .dxpc-content
{
    min-width: 220px;
}
.dxtlControl_Material1 .dxpcLite_Material1 .dxpc-content .dxtlHeader_Material1
{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
}
/* Loading panel */
.dxtlLoadingPanel_Material1
{
    background-color: white;
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #484848;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxtlLoadingPanel_Material1 td.dx
{
    font-size: 1.17em;
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
.dxtlLoadingPanel_Material1 .dxlp-loadingImage
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    animation: dxLoadSpinSys 1s linear infinite;
    border: 4px solid #FF5C35;
    border-top: 4px solid #EEE;
    width: 24px;
    height: 24px;
}
html.dxIE.dxBrowserVersion-9 .dxtlLoadingPanel_Material1 .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    animation: none;
    border: none;
    border-radius: 0;
}
/* Disabled */
.dxtlDisabled_Material1,
.dxtlDisabled_Material1 .dxtl
{
    color: #b8b8b8;
    cursor: default;
}
/* Ripple */
.dxtlControl_Material1 .dxtlDataTable .dxtlHeader_Material1:not([style*="cursor: w-resize"]):not(.dxtl__IM)::before,
.dxtlControl_Material1 .dxpcLite_Material1 .dxpc-content .dxtlHeader_Material1:not(.dxtl__IM)::before
{
    content: "dxRippleTarget";
    display: none;
}
.dxtlControl_Material1 .dxpcLite_Material1
{
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxtlControl_Material1 .dxpcLite_Material1 .dxpc-mainDiv.dxpc-hf
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* Filtering */
.dxtlFilterRow_Material1
{
    background-color: #f4f4f4;
}
.dxtlFilterRow_Material1 > td
{
    border-bottom: 1px Solid #DFDFDF;
    border-right: 1px Solid #DFDFDF;
    border-top-width: 0;
    border-left-width: 0;
    padding: 2px;
    overflow: hidden;
}
/* Search Panel */
.dxtlSearchPanel_Material1
{
    padding: 7px 0 16px;
}
.dxtlSearchPanel_Material1 > table
{
    width: 100%;
}
.dxtlSearchPanel_Material1 .dxeButtonEdit_Material1
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    width: 100%;
}
.dxtlSearchPanel_Material1 .dxeButtonEdit_Material1,
.dxtlSearchPanel_Material1 .dxeButtonEdit_Material1 input
{
    background-color: #FAFAFA;
}
.dxtlSearchPanel_Material1 .dxeButtonEdit_Material1 td.dxic
{
    padding: 15px 8px 17px 12px;
}
*[dir="rtl"] .dxtlSearchPanel_Material1 .dxeButtonEdit_Material1 td.dxic
{
    padding: 15px 12px 17px 8px;
}
.dxtlControl_Material1 .dxtlSearchPanel_Material1 > table > tbody > tr > td:nth-child(2) a.dxbButton_Material1
{
    margin-left: 16px;
}
*[dir="rtl"].dxtlControl_Material1 .dxtlSearchPanel_Material1 > table > tbody > tr > td:nth-child(2) a.dxbButton_Material1
{
    margin-right: 16px;
    margin-left: 0;
}
.dxtlControl_Material1 .dxtlSearchPanel_Material1 > table > tbody > tr > td:last-child a.dxbButton_Material1
{
    margin-right: 16px;
}
*[dir="rtl"].dxtlControl_Material1 .dxtlSearchPanel_Material1 > table > tbody > tr > td:last-child a.dxbButton_Material1
{
    margin-left: 16px;
}
.dxtlControl_Material1 .dxtlSearchPanel_Material1 > table > tbody > tr > td a.dxbButton_Material1
{
    margin-left: 10px;
}
*[dir="rtl"].dxtlControl_Material1 .dxtlSearchPanel_Material1 > table > tbody > tr > td a.dxbButton_Material1
{
    margin-right: 10px;
}
.dxtlControl_Material1 .dxtlSearchPanel_Material1 .dxbButton_Material1
{
    margin-left: 8px;
}
.dxtlControl_Material1 .dxtlHL
{
    background: #FF5C35;
    color: white;
}
/* Filter Builder, Filter Bar */
.dxtlFilterBar_Material1
{
    margin-top: 16px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
    border: 1px solid #DFDFDF;
    border-collapse: separate;
}
.dxtlFilterBar_Material1 a
{
    color: #FF5C35;
    text-decoration: none;
}
.dxtlFilterBar_Material1 a:hover
{
    text-decoration: underline;
}
.dxtlFilterBar_Material1 > tbody > tr > td
{
    padding-top: 14px;
    padding-bottom: 14px;
}
.dxtlFilterBarCheckBoxCell_Material1
{
    padding-left: 20px;
}
*[dir="rtl"] .dxtlFilterBarCheckBoxCell_Material1
{
    padding-right: 20px;
}
.dxtlFilterBarCheckBoxCell_Material1
{
    padding-left: 20px;
}
*[dir="rtl"] .dxtlFilterBarCheckBoxCell_Material1
{
    padding-right: 20px;
}
.dxtlFilterBarImageCell_Material1
{
    padding: 0 8px 0 20px;
    cursor: pointer;
}
*[dir="rtl"] .dxtlFilterBarImageCell_Material1
{
    padding: 0 20px 0 8px;
}
.dxtlFilterBarImageCell_Material1 img
{
    margin-top: 3px;
    margin-left: 0;
}
.dxtlFilterBarExpressionCell_Material1
{
    padding: 5px 5px 8px 0;
    white-space: nowrap;
}
.dxtlFilterBarClearButtonCell_Material1
{
    padding: 5px 20px 8px 6px;
}
*[dir="rtl"] .dxtlFilterBarClearButtonCell_Material1
{
    padding: 5px 6px 8px 20px;
}
.dxtlFilterBuilderMainArea_Material1
{
    background: white none;
    padding: 6px 2px;
}
.dxtlFilterBuilderButtonArea_Material1
{
    border-top: 1px solid #eaeaea;
    padding: 10px;
    white-space: nowrap;
}
.dxtlFilterBuilderButtonArea_Material1 .dxbButton_Material1
{
    margin-left: 8px;
}
/*batch*/
.dxtlControl_Material1 .dxtlBatchEditDeletedNode_Material1,
.dxtlControl_Material1 .dxtlBatchEditNewNode_Material1.dxtlBatchEditDeletedNode_Material1,
.dxtlControl_Material1 .dxtlBatchEditDeletedNode_Material1 .dxtlPreview_Material1
{
    background: #EFEFEF;
}
.dxtlControl_Material1 td.dxtlBatchEditCell_Material1:not(.dxBatchEditCheckBoxCell)
{
    padding: 0 2px;
}
.dxtlControl_Material1 td.dxtlBatchEditModifiedCell_Material1
{
    background: #d7f9c7;
}
.dxtlBatchEditDeletedNode_Material1 > td:not(.dxtlCommandColumn)_Material1
{
    color: rgba(0,0,0,0.5);
}
.dxtlBatchEditDeletedNode_Material1 td.dxtlBatchEditModifiedCell_Material1
{
    background: #eefbe7;
}
.dxtlControl_Material1 .dxtlBatchEditNewNode_Material1
{
    background: #F0FAEA;
}
.dxtlFocusedCell_Material1
{
    box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
    -webkit-box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
    -moz-box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
}
.dxtlControl_Material1 .dxtlErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxtlControl_Material1 .dxtlErrorCell img
{
    margin: -3px 0;
}
.dxtlControl_Material1 .dxtlHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxtlControl_Material1 .dxtlHFDRC
{
    margin: 15px 15px 25px;
}
.dxtlControl_Material1 .dxtlHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxtlControl_Material1 .dxtlHFDRP[id*="HFFDE"]
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.dxtlControl_Material1 .dxtlHFDRP[id*="HFTDE"]
{
    margin-bottom: 25px;
}
