.dx-acc-r .dxRichEdit_CenterTabDragHandle_Robo:before, .dx-acc-r .dxRichEdit_ColumnSeparatorDragHandle_Robo:before, .dx-acc-r .dxRichEdit_DecimalTabDragHandle_Robo:before, .dx-acc-r .dxRichEdit_FirstLineIdentDragHandle_Robo:before, .dx-acc-r .dxRichEdit_LeftIdentDragHandle_Robo:before, .dx-acc-r .dxRichEdit_LeftTabDragHandle_Robo:before, .dx-acc-r .dxRichEdit_QuickSearchCloseButton_Robo:before, .dx-acc-r .dxRichEdit_QuickSearchCollapseButton_Robo:before, .dx-acc-r .dxRichEdit_QuickSearchNextButton_Robo:before, .dx-acc-r .dxRichEdit_QuickSearchPrevButton_Robo:before, .dx-acc-r .dxRichEdit_RightIdentDragHandle_Robo:before, .dx-acc-r .dxRichEdit_RightTabDragHandle_Robo:before { content: url('sprite.svg'); }
.dx-acc-r .dxRichEdit_CenterTabDragHandle_Robo:before { left: -24px; top: -14px; }
.dx-acc-r .dxRichEdit_ColumnSeparatorDragHandle_Robo:before { left: -26px; top: -21px; }
.dx-acc-r .dxRichEdit_DecimalTabDragHandle_Robo:before { left: -33px; top: -14px; }
.dx-acc-r .dxRichEdit_FirstLineIdentDragHandle_Robo:before { left: -10px; top: -34px; }
.dx-acc-r .dxRichEdit_LeftIdentDragHandle_Robo:before { left: 0px; top: -34px; }
.dx-acc-r .dxRichEdit_LeftTabDragHandle_Robo:before { left: -34px; top: -7px; }
.dx-acc-r .dxRichEdit_QuickSearchCloseButton_Robo:before { left: 0px; top: 0px; }
.dx-acc-r .dxRichEdit_QuickSearchCollapseButton_Robo:before { left: 0px; top: -21px; }
.dx-acc-r .dxRichEdit_QuickSearchNextButton_Robo:before { left: -13px; top: -21px; }
.dx-acc-r .dxRichEdit_QuickSearchPrevButton_Robo:before { left: -21px; top: 0px; }
.dx-acc-r .dxRichEdit_RightIdentDragHandle_Robo:before { left: -20px; top: -34px; }
.dx-acc-r .dxRichEdit_RightTabDragHandle_Robo:before { left: -34px; top: 0px; }

