
dxSpriteWidth { width : 538 }

.dxSpreadsheet_TouchResize_Material1 { background-image: url('sprite.svg'); background-repeat: no-repeat; background-color: transparent } 
.dxIE .dx-acc-r .dxSpreadsheet_TouchResize_Material1::before { width: 538px } 
.dxSpreadsheet_TouchResize_Material1 { background-position: 0px 0px; background-size: 538px auto; width: 20px; height: 20px } 

