.dxssControl_Material1
{
    border-style: none;
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxssControl_Material1 .dxss-gl .dxss-v,
.dxssControl_Material1 .dxss-gl .dxss-h
{
    border-color: rgba(0,0,0,0.247);
}
.dxssControl_Material1 .dxss-rowHeader
{
    border-right: 1px solid rgba(0,0,0,0.247);
    border-top: 1px solid rgba(0,0,0,0.247);
}
.dxssControl_Material1 .dxss-colHeader
{
    border-bottom: 1px solid rgba(0,0,0,0.247);
    border-left: 1px solid rgba(0,0,0,0.247);
}
.dxssControl_Material1 .dxss-crse
{
    background-color: #FF5C35;
    opacity: .20;
}
.dxssControl_Material1 .dxss-trbe
{
    border-top-color: #FF5C35;
}
.dxssControl_Material1 .dxss-rrbe
{
    border-right-color: #FF5C35;
}
.dxssControl_Material1 .dxss-brbe
{
    border-bottom-color: #FF5C35;
}
.dxssControl_Material1 .dxss-lrbe
{
    border-left-color: #FF5C35;
}
.dxssControl_Material1 .dxss-fh
{
    background-color: #FF5C35;
}
.dxssControl_Material1 .dxss-sbe
{
    border-color: #FF5C35;
}
.dxssControl_Material1 .dxss-sbe
{
    border-color: #FF5C35;
}
.dxssControl_Material1 .dxtcLite_Material1.dxtc-bottom > .dxtc-stripContainer .dxtc-rightIndent,
.dxssControl_Material1 .dxtcLite_Material1.dxtc-bottom > .dxtc-stripContainer .dxtc-leftIndent
{
    width: 0px;
}
.dxssControl_Material1 .dxrControl_Material1 .dxtcLite_Material1.dxtc-top .dxtc-leftIndent
{
    width: 0px;
}
.dxssControl_Material1 .dxtcLite_Material1.dxtc-bottom .dxtc-leftIndent
{
    width: 8px;
}
.dxssControl_Material1 .dxss-hrg,
.dxssControl_Material1 .dxss-vrg
{
    background-color: #FF5C35;
}
.dxssControl_Material1 .dxss-md
{
    border: 1px solid rgba(0,0,0,0.247) !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.dxssControl_Material1 .dxrControl_Material1 .dxmLite_Material1 .dxm-item
{
    padding: 7px 20px 6px 22px;
}
.dxssControl_Material1 .dxrControl_Material1 .dxmLite_Material1 .dxm-item
{
    padding: 0 4px;
}
.dxssControl_Material1 .dxss-tse
{
    border-color: #FF5C35;
}
.dxssControl_Material1 .dxss-tre
{
    background: url('TouchResize.svg');
}
.dxssControl_Material1 .dxss-ddp,
.dxssControl_Material1 .dxss-ddb
{
    border: 1px solid rgba(0,0,0,0.247);
}
.dxssControl_Material1 .dxss-ddp tr:hover
{
    background-color: #e0e0e0;
}
/* Ribbon */
.dxssControl_Material1 .dxrControl_Material1 .dxr-tabContent
{
    border-bottom-style: none;
}
/* Loading panel */
.dxssLoadingDiv_Material1
{
    background: white;
    opacity: 0.85 !important;
    filter: alpha(opacity=85);
}
.dxssLoadingPanel_Material1
{
    background-color: white;
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #484848;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxssLoadingPanel_Material1 td.dx
{
    font-size: 1.17em;
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
.dxssLoadingPanel_Material1 .dxlp-loadingImage
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    animation: dxLoadSpinSys 1s linear infinite;
    border: 4px solid #FF5C35;
    border-top: 4px solid #EEE;
    width: 24px;
    height: 24px;
}
html.dxIE.dxBrowserVersion-9 .dxssLoadingPanel_Material1 .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    animation: none;
    border: none;
    border-radius: 0;
}
/* DX Spreadsheet Cell Editor Element, Formula Bar, IntelliSense elements */
.dxssControl_Material1 .dxss-ctve
{
    border: 2px solid #FF5C35;
    /*the same -dxss-cfe */
}
.dxssControl_Material1 .dxss-fb
{
    height: 32px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.247);
    border-bottom-style: none;
}
.dxssControl_Material1 .dxss-fbw
{
    padding: 7px 8px 7px 7px;
    border: 1px solid #DCDCDC;
    background-color: white;
}
.dxFirefox .dxssControl_Material1 .dxss-fbw
{
    padding: 7px 8px 6px 7px;
}
.dxssControl_Material1 .dxmLite_Material1 .dxss-fbMenu .dxm-content:not(.dxm-disabled) svg,
.dxssControl_Material1 svg.dxss-ddb
{
    color: #727272;
}
.dxssControl_Material1 .dxmLite_Material1 .dxss-fbMenu
{
    height: 32px;
    border: 0;
    background-color: transparent;
    background-image: none;
}
.dxssControl_Material1 .dxss-fbMenu .dxm-content
{
    padding-top: 8px !important;
    padding-left: 27px !important;
    padding-right: 27px !important;
    padding-bottom: 0px !important;
}
.dxssControl_Material1 .dxss-hint
{
    border: 1px solid #dedede;
    background-color: #FFFFFF;
    padding: 3px 8px 4px 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
.dxssControl_Material1 .dxss-hint,
.dxss-funcLB.dxeListBox_Material1
{
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxssControl_Material1 .dxss-hint.dxss-funcInfo
{
    margin-left: 10px;
    margin-right: 10px;
}
.dxpnlControl_Material1 .dxssDlgPageSetupForm
{
    width: 530px;
}
.dxssDlgPageSetupForm .dxssPSContainer .dxssPageControl.dxtcLite_Material1 .dxtc-content
{
    padding-top: 20px;
    padding-bottom: 10px;
}
.dxssDlgPageSetupForm .dxssPSContainer .dxssPageControl.dxtcLite_Material1
{
    margin-top: 16px;
}
.dxssDlgPageSetupForm .dxtcLite_Material1 > .dxtc-stripContainer .dxtc-link
{
    padding: 4px 25px;
}
.dxpnlControl_Material1 .dxssDlgPageSetupForm .dxeButtonEdit_Material1
{
    min-width: 75px;
}
.dxpnlControl_Material1 .dxssDlgPageSetupForm .dxssPSPrintContainer
{
    padding: 10px 19px 10px 10px;
    margin-bottom: 4px;
}
.dxpnlControl_Material1 .dxssDlgPageSetupForm .dxtcLite_Material1 > .dxtc-content
{
    padding: 0px;
}
.dxssControlSys .dxmLite_Material1 .dxm-popup .dxm-checked img[class*="ssRibbonGIcons_PageMarginsNormal"],
.dxssControlSys .dxmLite_Material1 .dxm-popup .dxm-checked img[class*="ssRibbonGIcons_PageMarginsWide"],
.dxssControlSys .dxmLite_Material1 .dxm-popup .dxm-checked img[class*="ssRibbonGIcons_PageMarginsNarrow"],
.dxssControlSys .dxmLite_Material1 .dxm-popup .dxm-checked span[class*="ssRibbonGIcons_PageMarginsNormal"],
.dxssControlSys .dxmLite_Material1 .dxm-popup .dxm-checked span[class*="ssRibbonGIcons_PageMarginsWide"],
.dxssControlSys .dxmLite_Material1 .dxm-popup .dxm-checked span[class*="ssRibbonGIcons_PageMarginsNarrow"]
{
    margin-top: 3px !important;
}
.dxssControlSys .dxmLite_Material1 .dxm-popup img[class*="ssRibbonGIcons_PageMarginsNormal"],
.dxssControlSys .dxmLite_Material1 .dxm-popup img[class*="ssRibbonGIcons_PageMarginsWide"],
.dxssControlSys .dxmLite_Material1 .dxm-popup img[class*="ssRibbonGIcons_PageMarginsNarrow"],
.dxssControlSys .dxmLite_Material1 .dxm-popup span[class*="ssRibbonGIcons_PageMarginsNormal"],
.dxssControlSys .dxmLite_Material1 .dxm-popup span[class*="ssRibbonGIcons_PageMarginsWide"],
.dxssControlSys .dxmLite_Material1 .dxm-popup span[class*="ssRibbonGIcons_PageMarginsNarrow"]
{
    margin-top: 3px !important;
}
.dxssFCFormLayout .dxflGroupCell_Material1
{
    padding: 0 10px;
}
.dxpcLite_Material1 .dxssDlgFormatCellsForm
{
    width: 623px;
}
.dxeListBox_Material1.dxssFCType
{
    width: 400px !important;
    height: 159px !important;
}
.dxeListBox_Material1.dxssFCType .dxlbd
{
    width: 398px !important;
}
.dxeListBox_Material1.dxssFCCategory
{
    width: 150px !important;
    height: 350px !important;
    margin-top: 13px;
}
.dxflGroup_Material1.dxssFCDescription
{
    height: 85px;
    padding-top: 13px !important;
}
.dxssFCFormLayout .dxflGroupBox_Material1
{
    padding-bottom: 8px;
    margin-bottom: 12px;
}
.dxssFCSampleGroup .dxflItem_Material1
{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.dxeControlsCell_Material1 > .dxssFCDecimalPlaces
{
    width: 100px !important;
}
/* Cell Editing */
.dxssControl_Material1.icbem .dxss-inputTarget
{
    border: 2px solid #FF5C35;
}
/*Cell position hint*/
.dxssControl_Material1 .dxss-cell-pos-hint
{
    background-color: #FF5C35;
    color: white;
}
.dxrControl_Material1 .dxssRibbonCBSmall
{
    width: 100px;
}
.dxrControl_Material1 .dxssRibbonCBLarge
{
    width: 130px;
}
/* --------------Select-All----------------- */
.dxssControl_Material1 .dxss-ssbi
{
    border-color: transparent;
    border-bottom-color: #cecece;
}
.dxssControl_Material1 .dxss-ssb:hover .dxss-ssbi
{
    border-bottom-color: #a8a8a8;
}
/* ----------Add-Sheet-Button---------------*/
.dxssControl_Material1 .dxss-ast-btn:before,
.dxssControl_Material1 .dxss-ast-btn:after
{
    background-color: #747474;
}
.dxssControl_Material1 .dxss-ast-circle:hover .dxss-ast-btn:before,
.dxssControl_Material1 .dxss-ast-circle:hover .dxss-ast-btn:after
{
    background-color: #FF5C35;
}
.dxssControl_Material1 .dxss-ast
{
    border-top: 3px solid #DFDFDF;
}
.dxssControl_Material1 .dxss-ast .dxss-ast-circle
{
    margin-top: 10px;
}
/* --------------Dialogs----------------- */
.dxssControl_Material1 .dxss-dialogSimpleFooterGroup,
.dxssControl_Material1 .dxss-dialogFooter
{
    border-top: 1px #dfdfdf solid;
    padding: 10px 19px 11px 10px;
}
.dxssControl_Material1 .dxss-dialog .dxss-dialogFooterBtn
{
    width: 100px !important;
}
.dxssControl_Material1 .dxss-dialog .dxss-imagePreviewCell
{
    color: #878787;
    border: dashed 1px #cac8c8;
}
.dxssControl_Material1 .dxss-pageSetupForm .dxss-CustomHFButton
{
    min-width: 160px;
}
.dxssControl_Material1 .dxss-customDataFilterForm .dxss-dialogRadionButtonList .dxe,
.dxssControl_Material1 .dxss-dialogHeaderGroup .dxss-dialogRadionButtonList .dxe
{
    padding-top: 0px;
    padding-bottom: 0px;
}
.dxssControl_Material1 .dxss-changeChartTypeForm .dxss-chartsbtn div.dxb
{
    padding: 6px 9px 7px;
}
.dxssControl_Material1 .dxss-changeChartTypeForm .dxss-chartsbtn
{
    width: auto;
}
.dxssControl_Material1 .dxss-changeChartTypeForm .dxtcLite_Material1.dxtc-left > .dxtc-stripContainer .dxtc-link
{
    padding-right: 5px;
}
@media (max-width: 400px)
{
    .dxssControl_Material1 .dxss-dialog .dxss-dialogRadionButtonList .dxichTextCellSys
    {
        padding-right: 5px;
    }
    .dxssControl_Material1 .dxss-saveFileAsForm .dxss-dialogContentGroup,
    .dxssControl_Material1 .dxss-insertLinkForm .dxss-dialogContentGroup
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    .dxssControl_Material1 .dxss-changeChartTypeForm .dxtcLite_Material1.dxtc-left > .dxtc-stripContainer .dxtc-link
    {
        padding-left: 5px;
        padding-right: 10px;
    }
    .dxssControl_Material1 .dxss-changeChartTypeForm .dxtcLite_Material1 > .dxtc-content
    {
        padding-left: 7px;
        padding-right: 7px;
        text-align: center;
    }
    .dxssControl_Material1 .dxss-changeChartTypeForm .dxss-dialogSimpleContentGroup
    {
        padding-left: 7px;
        padding-right: 7px;
    }
    .dxssControl_Material1 .dxss-modifyTableStyleForm .dxss-dialogSimpleContentGroup
    {
        padding-left: 5px;
        padding-right: 5px;
    }
    .dxssControl_Material1 .dxss-modifyTableStyleForm .dxtcLite_Material1.dxtc-left > .dxtc-stripContainer .dxtc-link
    {
        padding-left: 6px;
        padding-right: 5px;
    }
    .dxssControl_Material1 .dxss-modifyTableStyleForm .dxtcLite_Material1 > .dxtc-content
    {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
}
/*---------Change-Chart-Style-Dialog-------*/
.dxss-modifyChartStyleContent .dxbButtonHover_Material1
{
    color: white;
    background-color: #FF5C35;
    border: 1px solid #FF5C35;
}
.dxss-modifyChartStyleContent .dxbButtonChecked_Material1
{
    color: #484848;
    background-color: #C0C0C0;
}
.dxss-modifyChartStyleContent .dxbButtonPressed_Material1
{
    color: white;
    background-color: #C0C0C0;
}
.dxss-modifyChartStyleContent .dxbButton_Material1 div.dxb
{
    padding-left: 9px;
    padding-right: 9px;
}
.dxss-modifyChartStyleContent .dxbButton_Material1
{
    border-width: 1px;
    border-style: solid;
    width: auto;
}
.dxeBase_Material1.dxss-cbFindMatch td.dxichCellSys,
.dxeBase_Material1.dxss-cbFindMatch td.dxichTextCellSys
{
    padding-top: 6px;
}
/* Format as Table */
.dxss-modifyChartStyleContent .dxbButton_Material1 div.dxb
{
    padding-left: 3px;
    padding-right: 3px;
}
.dxss-modifyChartStyleContent .dxbButton_Material1 div.dxbf
{
    padding-left: 2px;
    padding-right: 2px;
}
/*-----Filter-Dialogs-----*/
.dxss-validationConfirmForm .dxbButton_Material1 div.dxb,
.dxss-dataFilterSimpleForm .dxbButton_Material1 div.dxb,
.dxss-pivotTableItemFilterForm .dxbButton_Material1 div.dxb
{
    padding-left: 5px;
    padding-right: 5px;
}
@media (max-width: 475px)
{
    .dxss-dataValidationForm .dxbButton_Material1 div.dxb,
    .dxss-dataFilterSimpleForm .dxbButton_Material1 div.dxb,
    .dxss-pivotTableItemFilterForm .dxbButton_Material1 div.dxb
    {
        padding-left: 1px;
        padding-right: 1px;
    }
    .dxpnlControl_Material1 .dxss-dataFilterSimpleForm .dxss-dialogControlsWrapper > tbody > tr > td:first-child,
    .dxpnlControl_Material1 .dxss-pivotTableItemFilterForm .dxss-dialogControlsWrapper > tbody > tr > td:first-child
    {
        display: none;
    }
    .dxpnlControl_Material1 .dxss-pivotTableItemFilterForm .dxss-dialogControlsWrapper > tbody > tr > td:first-child.dxss-filterItem-selectAll
    {
        display: table-cell;
    }
    .dxssControl_Material1 .dxss-dataValidationForm .dxss-dialogSimpleFooterGroup,
    .dxssControl_Material1 .dxss-dataFilterSimpleForm .dxss-dialogSimpleFooterGroup,
    .dxssControl_Material1 .dxss-pivotTableItemFilterForm .dxss-dialogSimpleFooterGroup
    {
        padding-left: 0px;
        padding-right: 2px;
    }
    .dxssControl_Material1 .dxss-dialog.dxss-dataValidationForm .dxss-dialogFooterBtn,
    .dxssControl_Material1 .dxss-dialog.dxss-validationConfirmForm .dxss-dialogFooterBtn,
    .dxssControl_Material1 .dxss-dialog.dxss-dataFilterSimpleForm .dxss-dialogFooterBtn,
    .dxssControl_Material1 .dxss-dialog.dxss-pivotTableItemFilterForm .dxss-dialogFooterBtn
    {
        width: 85px !important;
    }
}
/*---Page-Setup-Dialog---*/
.dxssControl_Material1 .dxss-pageSetupForm .dxss-pageSetupContent > div:first-child
{
    padding-right: 0px;
    padding-left: 7px;
}
.dxssControl_Material1 .dxss-pageSetupForm .dxss-pageSetupContent .dxss-customPaddingGroup
{
    padding-left: 0px;
    padding-right: 10px;
}
.dxss-customPaddingGroup .dxflGroupCell_Material1
{
    padding-right: 0px;
    padding-left: 0px;
}
.dxssControl_Material1 .dxss-dialog .dxss-shortEditor
{
    min-width: 90px;
    max-width: 90px;
}
.dxssControl_Material1 .dxss-pageSetupForm .dxss-orientationGroup
{
    padding-left: 0px;
    padding-right: 0px;
}
.dxssControl_Material1 .dxss-pageSetupForm .dxss-scalingGroup,
.dxssControl_Material1 .dxss-pageSetupForm .dxss-pagePrintGroup,
.dxssControl_Material1 .dxss-pageSetupForm .dxss-firstPageGroup
{
    padding-left: 7px;
}
/*---Floating-content---*/
.dxssControl_Material1 .dxss-pageSetupForm .dxss-scalingGroup > div:first-child,
.dxssControl_Material1 .dxss-pageSetupForm .dxss-scalingGroup > div:nth-child(3)
{
    width: 25% !important;
}
.dxssControl_Material1 .dxss-pageSetupForm .dxss-scalingGroup > div:nth-child(2)
{
    width: 75% !important;
}
.dxssControl_Material1 .dxss-pageSetupForm .dxss-scalingGroup > div:nth-child(5)
{
    width: 35% !important;
}
/*---Spin-edits---*/
.dxss-marginPreviewContainer .dxss-previewTable .dxeButtonEditSys .dxeSpinIncButton_Material1,
.dxss-marginPreviewContainer .dxss-previewTable .dxeButtonEditSys .dxeSpinDecButton_Material1
{
    padding-left: 2px;
    padding-right: 2px;
}
.dxssControl_Material1 .dxss-pageSetupContent .dxss-HFMainGroup
{
    padding-left: 0px;
    padding-right: 10px;
}
.dxssControl_Material1 .dxss-previewTable .dxeCaptionCell_Material1
{
    padding-bottom: 3px;
}
/*---Custom-Header-Footer-Dialog---*/
.dxssControl_Material1 .dxss-headerFooterContent .dxss-HFHeaderGroup,
.dxssControl_Material1 .dxss-headerFooterContent .dxss-HFFooterGroup
{
    padding-left: 0px;
    padding-right: 0px;
}
.dxss-headerFooterContent .dxss-HFHeaderGroup .dxflGroupCell_Material1,
.dxss-headerFooterContent .dxss-HFFooterGroup .dxflGroupCell_Material1
{
    padding-left: 0px;
    padding-right: 10px;
}
/***Data*Validation***/
.dxss-dataValidationForm .dxtcLite_Material1 .dxss-dvContent
{
    min-height: 314px;
}
.dxss-dataValidationForm .dxtcLite_Material1 .dxss-dvSettingsContent
{
    min-height: 270px;
}
.dxss-dataValidationForm .dxtcLite_Material1 .dxss-dvSettingsContent .dxss-dvDescriptionRow
{
    padding-top: 5px;
}
.dxssControl_Material1 .dxss-dataValidationForm .dxss-zeroPaddingGroup
{
    padding-right: 0px;
    padding-left: 0px;
}
/****PivotTables*****/
.dxssControl_Material1 .dxss-pivotTableFieldListForm .dxss-pt-filters,
.dxssControl_Material1 .dxss-pivotTableFieldListForm .dxss-pt-rows,
.dxssControl_Material1 .dxss-pivotTableFieldListForm .dxss-pt-columns,
.dxssControl_Material1 .dxss-pivotTableFieldListForm .dxss-pt-values
{
    background-position-y: 14px;
}
.dxssControl_Material1 .dxss-pivotTableFieldListForm .dxss-caption-cell
{
    padding-bottom: 4px;
}
.dxssControl_Material1 .dxss-pivotTableTop10FilterForm .dxss-dialogContentGroup > div:nth-child(4),
.dxssControl_Material1 .dxss-pivotTableValueFilterForm .dxss-dialogContentGroup > div:nth-child(4),
.dxssControl_Material1 .dxss-pivotTableDateFilterForm .dxss-dialogContentGroup > div:nth-child(3),
.dxssControl_Material1 .dxss-pivotTableLabelFilterForm .dxss-dialogContentGroup > div:nth-child(3)
{
    padding-left: 16px;
}
@media (max-width: 480px)
{
    .dxssControl_Material1 .dxss-pivotTableLabelFilterForm .dxss-dialogContentGroup .dxss-dialogLGC .dxss-PivotTable-LabelFilter-SecondItem .dxflCaptionCellSys,
    .dxssControl_Material1 .dxss-pivotTableDateFilterForm .dxss-dialogContentGroup .dxss-dialogLGC .dxss-pivotDateSecondFilterValue .dxflCaptionCellSys,
    .dxssControl_Material1 .dxss-pivotTableValueFilterForm .dxss-dialogContentGroup .dxss-dialogLGC .dxss-PivotTable-ValueFilter-SecondItem .dxflCaptionCellSys,
    .dxssControl_Material1 .dxss-pivotTableTop10FilterForm .dxss-dialogContentGroup .dxss-dialogLGC .dxss-PivotTable-Top10-Field .dxflCaptionCellSys
    {
        padding-bottom: 12px;
    }
    .dxssControl_Material1 .dxss-pivotTableTop10FilterForm .dxss-dialogContentGroup > div:nth-child(4),
    .dxssControl_Material1 .dxss-pivotTableValueFilterForm .dxss-dialogContentGroup > div:nth-child(4),
    .dxssControl_Material1 .dxss-pivotTableDateFilterForm .dxss-dialogContentGroup > div:nth-child(3),
    .dxssControl_Material1 .dxss-pivotTableLabelFilterForm .dxss-dialogContentGroup > div:nth-child(3)
    {
        padding-left: 0px;
    }
}
.dxssControlSys .dxss-pivotTableLabelFilterForm .dxss-dialogContentGroup .dxss-pivot-filterOperator .dxeButtonEditButton_Material1,
.dxssControlSys .dxss-pivotTableValueFilterForm .dxss-dialogContentGroup .dxss-pivot-filterOperator .dxeButtonEditButton_Material1,
.dxssControlSys .dxss-pivotTableValueFilterForm .dxss-dialogContentGroup .dxss-pivot-filterField .dxeButtonEditButton_Material1,
.dxssControlSys .dxss-pivotTableDateFilterForm .dxss-dialogContentGroup .dxss-pivot-filterOperator .dxeButtonEditButton_Material1,
.dxssControlSys .dxss-pivotTableTop10FilterForm .dxss-dialogContentGroup .dxss-pivot-top10DropDown .dxeButtonEditButton_Material1
{
    padding-top: 12px;
    padding-bottom: 11px;
}
.dxssControl_Material1 .dxss-pivotTableLabelFilterForm .dxss-dialogContentGroup .dxss-filter-value .dxeEditAreaSys,
.dxssControl_Material1 .dxss-pivotTableValueFilterForm .dxss-dialogContentGroup .dxss-filter-value .dxeEditAreaSys
{
    padding-top: 2px;
    padding-bottom: 1px;
}
.dxssControl_Material1 .dxss-pivotTableTop10FilterForm .dxss-dialogContentGroup .dxss-pivot-top10Spin .dxeSpinIncButton_Material1
{
    padding-top: 4px;
}
.dxssControl_Material1 .dxss-pivotTableTop10FilterForm .dxss-dialogContentGroup .dxss-pivot-top10Spin .dxeSpinDecButton_Material1
{
    padding-bottom: 3px;
}
/****PivotTable*FieldList****/
.dxssControl_Material1 .dxss-pivotTableFieldListForm .dxss-dialogContentGroup .dxss-fieldlist-source .dxeListBoxItemSelected_Material1
{
    background-color: transparent;
    color: #484848;
}
.dxssControl_Material1 .dxss-pivotTableFieldListForm .dxss-dialogContentGroup .dxss-fieldlist-source .dxss-selected.dxeListBoxItemSelected_Material1,
.dxssControl_Material1 .dxss-pivotTableFieldListForm .dxss-dialogContentGroup .dxss-fieldlist-source .dxss-selected
{
    color: #FFFFFF;
    background-color: #FF5C35;
}
.dxssControl_Material1 .dxss-pivotTableFieldListForm .dxss-dialogContentGroup .dxss-fieldlist-source .dxeListBoxItemSelected_Material1.dxeListBoxItemHover_Material1,
.dxssControl_Material1 .dxss-pivotTableFieldListForm .dxss-dialogContentGroup .dxss-fieldlist-source .dxss-selected.dxeListBoxItemHover_Material1
{
    background-color: #EEE;
    color: #484848;
}
.dxssControl_Material1 .dxss-pivotTableFieldListForm .dxss-dialogContentGroup .dxss-fieldlist-source .dxss-selected.dxeListBoxItemHover_Material1 .dxss-pivotfieltlist-item,
.dxssControl_Material1 .dxss-pivotfieltlist-item
{
    background-image: url('ColumnDrag.png');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 18px;
    height: 18px;
    background-position: 0px 0px;
}
.dxssControl_Material1 .dxss-pivotTableFieldListForm .dxss-pt-filters .dxeListBoxItemSelected_Material1 .dxss-pivotfieltlist-item,
.dxssControl_Material1 .dxss-pivotTableFieldListForm .dxss-pt-columns .dxeListBoxItemSelected_Material1 .dxss-pivotfieltlist-item,
.dxssControl_Material1 .dxss-pivotTableFieldListForm .dxss-pt-rows .dxeListBoxItemSelected_Material1 .dxss-pivotfieltlist-item,
.dxssControl_Material1 .dxss-pivotTableFieldListForm .dxss-pt-values .dxeListBoxItemSelected_Material1 .dxss-pivotfieltlist-item,
.dxssControl_Material1 .dxss-selected .dxss-pivotfieltlist-item
{
    background-image: url('ColumnDragWhite.png');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 18px;
    height: 18px;
    background-position: 0px 0px;
}
.dxssControl_Material1 .dxss-pivotTableFieldListForm .dxss-lb-dragdrop
{
    padding-left: 6px;
}
