<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
  <appSettings>
    <add key="VTLive.MultitenantService" value="true"/>
    <add key="VTLive.PushServer.ClassicLogs" value="true"/>
    <add key="CosmosDB.ConnectionString" value="mongodb://rscosmosdev:uIalSOw2BNUNGvuDtnyM7vkq4wLD9ZMT0fhh7fE9XXkJUCcKQlXeioOyiYiFlngJ6hEjqJzQCE95DOsGjTmpPQ==@rscosmosdev.mongo.cosmos.azure.com:10255/?ssl=true&amp;replicaSet=globaldb&amp;retrywrites=false&amp;maxIdleTimeMS=120000&amp;appName=@rscosmosdev@"/>
    <add key="CosmosDB.DBName" value="idi02"/>
	<add key="VTLive.DebugProcessLocally" value="false"/>
	  
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
