.dxvgControl_Material1,
.dxvgDisabled_Material1
{
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    background-color: White;
    color: #484848;
    cursor: default;
}
.dxvgDisabled_Material1
{
    color: #b8b8b8;
}
.dxvgControl_Material1 a.dxeHyperlink:not([href]):not([onclick]):not(.dxbButtonSys)
{
    color: #484848;
    text-decoration: none;
}
.dxvgControl_Material1 a
{
    color: #FF5C35;
    text-decoration: none;
}
.dxvgControl_Material1 a:hover
{
    text-decoration: underline;
}
.dxvgControl_Material1 a:hover.dxbDisabled_Material1
{
    color: #BBBBBB;
    text-decoration: none;
}
.dxvgDisabled_Material1 a
{
    color: #b8b8b8;
}
.dxvgTable_Material1
{
    background-color: White;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-collapse: separate !important;
    overflow: hidden;
    table-layout: fixed;
}
.dxvgTable_Material1 .dxvgHEC
{
    background-color: White;
    border-width: 0;
    overflow: hidden;
}
.dxvgControl_Material1 .dxvgCSD
{
    border-bottom: 1px solid #DFDFDF;
}
.dxvgControl_Material1 .dxvgCSD,
.dxvgControl_Material1 .dxvgFC .dxvgHEC
{
    border-right: 1px solid #DFDFDF;
}
.dxvgCSD .dxvgTable_Material1
{
    border-right: 0;
}
.dxvgControl_Material1 .dxvgFCW + .dxvgTable_Material1
{
    border-top: 0;
}
.dxvgControl_Material1 .dxvgCSD .dxvgTable_Material1,
.dxvgControl_Material1 table[id$='DXFixedTable']
{
    border-bottom: 0;
}
.dxvgControl_Material1 .dxvgCSD + .dxvgSummaryPanel_Material1,
.dxvgControl_Material1 .dxvgCSD + .dxvgPagerBottomPanel_Material1,
.dxvgControl_Material1 .dxvgCSD + .dxvgFilterBar_Material1,
.dxvgControl_Material1 .dxvgCSD + .dxvgStatusBar_Material1,
.dxvgTable_Material1 + .dxvgSummaryPanel_Material1,
.dxvgTable_Material1 + .dxvgPagerBottomPanel_Material1,
.dxvgTable_Material1 + .dxvgFilterBar_Material1,
.dxvgTable_Material1 + .dxvgStatusBar_Material1
{
    border-top: 0;
}
.dxvgHeader_Material1
{
    cursor: pointer;
    color: black;
    font: 14px 'Roboto Medium', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    text-align: left;
    background-color: white;
    padding: 21px 10px 17px;
    border: 1px Solid #DCDCDC;
    border-width: 0 1px 1px 0;
    overflow: hidden;
    white-space: nowrap;
}
.dxvgCategory_Material1
{
    color: #939393;
    font: 14px 'Roboto Medium', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    background-color: #f4f4f4;
    padding: 30px 10px 30px;
    border-bottom: 1px solid #DFDFDF;
    overflow: hidden;
    white-space: nowrap;
}
.dxvgCSD .dxvgCategory_Material1:not(.dxvg__I)
{
    border-right: 1px solid #DFDFDF;
}
.dxvgCategoryRow_Material1.dxvgER .dxvgCategory_Material1,
.dxvgCategoryRow_Material1.dxvgCR .dxvgCategory_Material1
{
    cursor: pointer;
}
.dxvgCategoryRow_Material1.dxvgER .dxvgCategory_Material1.dxvg__I,
.dxvgCategoryRow_Material1.dxvgCR .dxvgCategory_Material1.dxvg__I
{
    cursor: default;
}
.dxvgRecord_Material1
{
    padding: 19px 10px 18px;
    border: 1px solid #DFDFDF;
    border-width: 0 1px 1px 0;
    overflow: hidden;
}
.dxvgRecord_Material1:last-child
{
    border-right-width: 0;
}
.dxvgRPFC .dxvgRecord_Material1
{
    border-bottom: 1px Solid #DCDCDC;
}
.dxvgGLNV .dxvgRecord_Material1
{
    border-right-width: 0;
}
.dxvgGLNH .dxvgRecord_Material1
{
    border-bottom-width: 0;
}
.dxvgGLNH .dxvgRPFC .dxvgRecord_Material1
{
    border-bottom-width: 1px;
}
.dxvgGLNH .dxvgRPFC.dxvgER .dxvgRecord_Material1
{
    border-bottom-width: 0;
}
.dxvgFC .dxvgGLNH tr:last-child .dxvgRecord_Material1
{
    border-bottom-width: 1px;
}
.dxvgRecordAlt_Material1
{
    background-color: #f5f5f5;
}
/* Select, Hover */
.dxvgSelectedRecord_Material1,
.dxvgSelectedRecord_Material1.dxvgDataRowHover_Material1
{
    background-color: #F1F1F1;
}
.dxvgDataRowHover_Material1 .dxvgRecord_Material1
{
    background-color: #EEE;
}
/* Command Items */
.dxvgCommandCell_Material1
{
    padding: 8px 4px;
}
.dxvgCommandCell_Material1 a,
.dxvgHeader_Material1 a.dxvgCommandItem_Material1
{
    margin: 0 5px 0 0;
}
.dxvgHeader_Material1 a,
.dxvgCommandCell_Material1 a
{
    color: #FF5C35;
}
.dxbButton_Material1[class~="dxvgCommandItem_Material1"]
{
    margin-left: 5px;
    margin-right: 5px;
}
.dxbButton_Material1[class~="dxvgCommandItem_Material1"] .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}
/* Indents */
.dxvgControl_Material1 .dxvg__I
{
    border-style: solid;
    border-color: #DCDCDC;
    border-width: 0 1px 0 0;
    cursor: default;
    box-shadow: none;
}
.dxvgControl_Material1 .dxvg__I.dxvg__BB
{
    border-bottom-width: 1px;
}
.dxvgControl_Material1 .dxvgER .dxvg__I.dxvg__BB
{
    border-bottom-width: 0;
}
.dxvgControl_Material1 .dxvgMHI .dxvg__I
{
    border-right-width: 0;
}
.dxvgControl_Material1 .dxvgMHI .dxvgER .dxvg__I.dxvg__BB
{
    border-bottom-width: 1px;
}
/* Title Panel, Status bar, Summary Panel */
.dxvgTitlePanel_Material1,
.dxvgTable_Material1 caption
{
    font-size: 1.25em;
    font-weight: normal;
    padding: 3px 3px 5px;
    text-align: center;
    color: #999999;
}
.dxvgStatusBar_Material1
{
    border-top: 1px solid #DFDFDF;
}
.dxvgStatusBar_Material1 tr.dxvg
{
    height: 20px;
}
.dxvgStatusBar_Material1 tr.dxvg > td
{
    padding: 24px 0;
}
.dxvgStatusBar_Material1 tr.dxvg span .dxbButtonSys:first-child
{
    margin-left: 20px;
}
.dxvgSummaryPanel_Material1
{
    border: 1px solid #DFDFDF;
    background-color: #f4f4f4;
    color: #8e8e93;
    padding: 8px 21px 8px;
}
.dxvgSummaryItem_Material1
{
    display: inline-block;
    margin: 5px 8px 5px 0;
}
/* Pager */
.dxvgPagerTopPanel_Material1,
.dxvgPagerBottomPanel_Material1
{
    padding: 9px 0 9px;
}
.dxvgPagerBottomPanel_Material1
{
    background-color: white;
    border-bottom: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    border-top: 1px solid #DFDFDF;
}
.dxvgSummaryPanel_Material1 + .dxvgPagerBottomPanel_Material1
{
    border-top-width: 0;
}
.dxvgControl_Material1 .dxpLite_Material1,
.dxvgDisabled_Material1 .dxpLite_Material1
{
    padding-top: 4px;
}
/* Filter Builder, Filter Bar */
.dxvgFilterBar_Material1
{
    margin-top: 16px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
    border: 1px solid #DFDFDF;
    border-collapse: separate;
}
.dxvgFilterBar_Material1 a
{
    color: #FF5C35;
    text-decoration: none;
}
.dxvgFilterBar_Material1 a:hover
{
    text-decoration: underline;
}
.dxvgFilterBar_Material1 > tbody > tr > td
{
    padding-top: 14px;
    padding-bottom: 14px;
}
.dxvgFilterBarCheckBoxCell_Material1
{
    padding-left: 20px;
}
*[dir="rtl"] .dxvgFilterBarCheckBoxCell_Material1
{
    padding-right: 20px;
}
.dxvgFilterBarImageCell_Material1
{
    padding: 0 8px 0 20px;
    cursor: pointer;
}
*[dir="rtl"] .dxvgFilterBarImageCell_Material1
{
    padding: 0 20px 0 8px;
}
.dxvgFilterBarImageCell_Material1 img
{
    margin-top: 3px;
    margin-left: 0;
}
.dxvgFilterBarExpressionCell_Material1
{
    padding: 5px 5px 8px 0;
    white-space: nowrap;
}
.dxvgFilterBarClearButtonCell_Material1
{
    padding: 5px 20px 8px 6px;
}
*[dir="rtl"] .dxvgFilterBarClearButtonCell_Material1
{
    padding: 5px 6px 8px 20px;
}
.dxvgFilterBuilderMainArea_Material1
{
    background: white none;
    padding: 6px 2px;
}
.dxvgFilterBuilderButtonArea_Material1
{
    border-top: 1px solid #eaeaea;
    padding: 10px;
    white-space: nowrap;
}
.dxvgFilterBuilderButtonArea_Material1 .dxbButton_Material1
{
    margin-left: 8px;
}
.dxvgControl_Material1 .dxpcLite_Material1
{
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxvgControl_Material1 .dxpcLite_Material1 .dxpc-mainDiv.dxpc-hf
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* Header Filter */
.dxvgControl_Material1 .dxpcLite_Material1 .dxpc-footerContent > table
{
    margin: 13px 20px 11px 0px;
}
.dxvgControl_Material1 .dxpcLite_Material1 .dxpc-footerContent
{
    padding: 12px 20px 7px 12px;
}
.dxvgControl_Material1 .dxvgHFC
{
    padding-left: 4px;
}
.dxvgControl_Material1 .dxvgHFC .dxeCalendar_Material1
{
    margin-top: 3px;
    margin-left: 7px;
}
.dxvgControl_Material1 div[id$='DXEPLPC']
{
    height: 53px;
}
.dxvgControl_Material1 .dxvgHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxvgControl_Material1 .dxvgHFDRC
{
    margin: 15px 15px 25px;
}
.dxvgControl_Material1 .dxvgHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxvgControl_Material1 .dxvgHFDRP[id*="HFFDE"]
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.dxvgControl_Material1 .dxvgHFDRP[id*="HFTDE"]
{
    margin-bottom: 25px;
}
/* Batch Edit */
.dxvgControl_Material1 td.dxvgBatchEditCell_Material1:not(.dxBatchEditCheckBoxCell)
{
    padding: 0 2px;
}
.dxvgControl_Material1 td.dxvgBatchEditModifiedCell_Material1
{
    background: #d7f9c7;
}
.dxvgBatchEditDeletedItem_Material1,
.dxvgBatchEditNewItem_Material1.dxvgBatchEditDeletedItem_Material1
{
    background: #EFEFEF;
}
td.dxvgBatchEditDeletedItem_Material1:not(.dxvgCommandColumn_Material1)
{
    color: rgba(0,0,0,0.5);
}
.dxvgBatchEditDeletedItem_Material1.dxvgBatchEditModifiedCell_Material1
{
    background: #eefbe7 !important;
}
.dxvgBatchEditNewItem_Material1
{
    background: #F0FAEA;
}
.dxvgControl_Material1 .dxvgErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxvgControl_Material1 .dxvgErrorCell img
{
    margin: -3px 0;
}
.dxvgStatusBar_Material1 .dxbButton_Material1
{
    margin-right: 10px;
}
.dxvgRecordError_Material1
{
    background-color: #FFC8C8;
    color: #FF0000;
    padding: 6px 10px;
    height: 100%;
}
.dxvgERV .dxvgRecord_Material1
{
    display: none;
}
.dxvgEmptyRecord_Material1
{
    display: none;
    text-align: center;
}
.dxvgERV .dxvgEmptyRecord_Material1
{
    display: table-cell;
}
/* LoadingPanel */
.dxvgLoadingPanel_Material1
{
    background-color: white;
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #484848;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxvgLoadingPanel_Material1 td.dx
{
    font-size: 1.17em;
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
.dxvgLoadingPanel_Material1 .dxlp-loadingImage
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    animation: dxLoadSpinSys 1s linear infinite;
    border: 4px solid #FF5C35;
    border-top: 4px solid #EEE;
    width: 24px;
    height: 24px;
}
html.dxIE.dxBrowserVersion-9 .dxvgLoadingPanel_Material1 .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    animation: none;
    border: none;
    border-radius: 0;
}
.dxvgLoadingPanelStatusBar_Material1
{
    background-color: Transparent;
}
.dxvgLoadingPanelStatusBar_Material1 td
{
    white-space: nowrap;
    text-align: center;
    padding: 0px 2px;
}
.dxvgLoadingPanelStatusBar_Material1 .dxlp-loadingImage
{
    background-image: url('../GridView/gvLoadingOnStatusBar.gif');
    height: 16px;
    width: 16px;
}
/* Search Panel */
.dxvgSearchPanel_Material1
{
    padding: 7px 0 16px;
}
.dxvgSearchPanel_Material1 > table
{
    width: 100%;
}
.dxvgSearchPanel_Material1 .dxeButtonEdit_Material1
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    width: 100%;
}
.dxvgSearchPanel_Material1 .dxeButtonEdit_Material1,
.dxvgSearchPanel_Material1 .dxeButtonEdit_Material1 input
{
    background-color: #FAFAFA;
}
.dxvgSearchPanel_Material1 .dxeButtonEdit_Material1 td.dxic
{
    padding: 15px 8px 17px 12px;
}
*[dir="rtl"] .dxvgSearchPanel_Material1 .dxeButtonEdit_Material1 td.dxic
{
    padding: 15px 12px 17px 8px;
}
.dxvgControl_Material1 .dxvgSearchPanel_Material1 .dxbButton_Material1
{
    margin-left: 7px;
    margin-right: 0;
}
*[dir="rtl"].dxvgControl_Material1 .dxvgSearchPanel_Material1 .dxbButton_Material1
{
    margin-left: 0;
    margin-right: 7px;
}
.dxvgControl_Material1 .dxvgHL
{
    background: #FF5C35;
    color: white;
    font-weight: bold;
    font-style: normal;
}
/* Removes flicking in Material Safari*/
.dxvgTable_Material1
{
    -webkit-tap-highlight-color: transparent;
}
.dxvgRecord_Material1 .dxICheckBox_Material1,
.dxvgRecord_Material1 .dxeIRadioButton_Material1
{
    margin: 0 10px 0 10px;
}
.dxvgFocusedCell_Material1
{
    box-shadow: inset 2px 2px 0 #dfdfdf, inset -2px -2px 0 #dfdfdf;
    -webkit-box-shadow: inset 2px 2px 0 #dfdfdf, inset -2px -2px 0 #dfdfdf;
    -moz-box-shadow: inset 2px 2px 0 #dfdfdf, inset -2px -2px 0 #dfdfdf;
}
/* Ripple */
.dxvgControl_Material1 .dxvgTable_Material1 .dxvgHeader_Material1::before,
.dxvgControl_Material1 .dxvgCustomization_Material1 .dxvgHeader_Material1::before
{
    content: "dxRippleTarget";
    display: none;
}
