<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        
        <bindings>
            <basicHttpBinding>
                <binding name="ExternalApiSoap"/>
                <binding name="ExternalApiSoap1">
                    <security mode="Transport"/>
                </binding>
                <binding name="ExternalApiSoap2"/>
                <binding name="BasicHttpBinding_IExternalApi1"/>
                <binding name="BasicHttpBinding_IExternalApi2">
                    <security mode="Transport"/>
                </binding>
                <binding name="BasicHttpBinding_IExternalApi"/>
                <binding name="BasicHttpBinding_IExternalApi11"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8024/Datalink/ExternalApi.asmx" binding="basicHttpBinding" bindingConfiguration="ExternalApiSoap" contract="ExternalApi.ExternalApiSoap" name="ExternalApiSoap"/>
            <endpoint address="https://localhost:44369/Datalink/ExternalApi.asmx" binding="basicHttpBinding" bindingConfiguration="ExternalApiSoap1" contract="ExternalApiSSL.ExternalApiSoap" name="ExternalApiSoap1"/>
            <endpoint address="https://vtliveapidev-idi01.azurewebsites.net/datalink/ExternalApi.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExternalApi2" contract="ExternalApi2SSL.IExternalApi" name="BasicHttpBinding_IExternalApi2"/>
            <endpoint address="http://localhost:8031/Datalink/ExternalApi.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExternalApi" contract="ExternalApi2.IExternalApi" name="BasicHttpBinding_IExternalApi"/>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.5.0" newVersion="5.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.5.0.0" newVersion="6.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
