.dxtlControl_Robo
{
    cursor: default;
    font: 11px Century Gothic,Segoe UI,Arial,Helvetica,sans-serif;
    color: #666;
    border: 1px #dfdfdf;
}
.dxtlControl_Robo caption
{
    font-size: 1.25em;
    font-weight: normal;
    padding: 3px 3px 5px;
    text-align: center;
    color: #999999;
}
.dxtlControl_Robo .dxtlDataTable
{
    border: 1px solid rgba(0,0,0,0.08);
}
/* Indent cells */
.dxtlIndent_Robo,
.dxtlIndentWithButton_Robo
{
    vertical-align: top;
    background: white none no-repeat top center;
}
.dxtlIndent_Robo
{
    padding: 0 11px;
}
.dxtlIndentWithButton_Robo
{
    padding: 0.8em 0.7em;
}
.dxtlSelectionCell_Robo
{
    padding: 0.4em;
    border: 1px solid rgba(0,0,0,0.1);
}
/* Tree-lines cells */
/* Headers */
.dxtlHeader_Robo
{
    white-space: nowrap;
    padding: 13px 10px 11px;
    border: 1px solid rgba(0,0,0,0.1);
    border-width: 0 0 1px 0;
    background-color: white;
    color: black;
    overflow: hidden;
    font-weight: normal;
    text-align: left;
    font: 11px Century Gothic,Segoe UI,Arial,Helvetica,sans-serif;
    font-size: 1em;
}
.dxtlHeader_Robo table.dxtl
{
    border-collapse: collapse;
    width: 100%;
}
.dxtlHeader_Robo td.dxtl
{
    padding: 0;
}
.dxtlHeader_Robo,
.dxtlHeader_Robo td.dxtl
{
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
}
/* Nodes */
.dxtlNode_Robo
{
    background: white none;
}
.dxtlAltNode_Robo
{
    background-color: rgba(0,0,0,0.04);
}
.dxtlSelectedNode_Robo
{
    background: #F3E1D3 none;
}
.dxtlFocusedNode_Robo
{
    background: #D76D1D none;
    color: white;
}
.dxtlInlineEditNode_Robo
{
    background: white none;
}
.dxtlEditFormDisplayNode_Robo
{
    background: white none;
}
.dxtlNode_Robo td.dxtl,
.dxtlAltNode_Robo td.dxtl,
.dxtlSelectedNode_Robo td.dxtl,
.dxtlFocusedNode_Robo td.dxtl,
.dxtlEditFormDisplayNode_Robo td.dxtl,
.dxtlCommandCell_Robo
{
    padding: 3px 10px 4px;
    border: 1px solid rgba(0,0,0,0.1);
    white-space: nowrap;
    overflow: hidden;
}
.dxtlHeader_Robo .dxbButton_Robo,
.dxtlCommandCell_Robo .dxbButton_Robo
{
    margin-left: 5px;
    margin-right: 5px;
}
.dxtlHeader_Robo .dxbButton_Robo .dxb,
.dxtlCommandCel_Robo .dxbButton_Robo .dxb
{
    padding-top: 0;
    padding-bottom: 2px;
}
.dxtlInlineEditNode_Robo td.dxtl
{
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1px;
}
/* Preview */
.dxtlPreview_Robo
{
    color: #999999;
    padding: 14px;
    border: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
}
/* Footers */
.dxtlGroupFooter_Robo td.dxtl,
.dxtlFooter_Robo td.dxtl
{
    padding: 5px 10px 6px;
    white-space: nowrap;
    border: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
}
.dxtlGroupFooter_Robo .dx-ar > br,
.dxtlFooter_Robo .dx-ar > br
{
    float: none;
}
/* Pagers */
.dxtlPagerTopPanel_Robo,
.dxtlPagerBottomPanel_Robo
{
    padding: 3px 0 1px;
}
.dxtlPagerTopPanel_Robo
{
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.08);
}
.dxtlPagerBottomPanel_Robo
{
    border: 1px solid rgba(0,0,0,0.1);
    border-top-style: none;
}
/* Editing */
.dxtlEditForm_Robo
{
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #f4f4f4;
    padding: 12px 10px 12px;
}
.dxtlEditFormCaption_Robo,
.dxtlEditFormEditCell_Robo
{
    padding: 4px;
}
.dxtlEditFormCaption_Robo
{
    padding-left: 10px;
    white-space: nowrap;
}
.dxtlError_Robo
{
    background: #FFC8C8 none;
    color: #FF0000;
    padding: 6px 10px;
    border: 1px solid rgba(0,0,0,0.1);
}
.dxtlPopupEditForm_Robo
{
    padding: 10px;
    min-width: 300px;
}
.dxtlEditForm_Robo .dxtlCommandCell_Robo,
.dxtlPopupEditForm_Robo .dxtlCommandCell_Robo
{
    padding-top: 12px;
    padding-bottom: 12px;
}
.dxtlEditForm_Robo .dxtlCommandCell_Robo a,
.dxtlPopupEditForm_Robo .dxtlCommandCell_Robo a
{
    margin-left: 2px;
    margin-right: 2px;
    padding: 8px 16px;
    margin-top: -8px;
    margin-bottom: -8px;
}
.dxtlEditForm_Robo .dxtlCommandCell_Robo a:hover,
.dxtlPopupEditForm_Robo .dxtlCommandCell_Robo a:hover
{
    background-color: #d1d1d1;
    text-decoration: none;
}
/* Links */
.dxtlControl_Robo a.dxeHyperlink:not([href]):not([onclick]):not(.dxbButtonSys)
{
    color: #666;
    text-decoration: none;
}
.dxtlControl_Robo a
{
    color: #D76D1D;
}
.dxtlFocusedNode_Robo a
{
    color: white !important;
}
.dxtlCommandCell_Robo a
{
    margin-right: 5px;
}
/* Customization window */
.dxtlControl_Robo .dxpcLite_Robo .dxpc-content
{
    min-width: 220px;
}
.dxtlControl_Robo .dxpcLite_Robo .dxpc-content .dxtlHeader_Robo
{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: white;
}
/* Loading panel */
.dxtlLoadingPanel_Robo
{
    background-color: white;
    font: 11px Century Gothic,Segoe UI,Arial,Helvetica,sans-serif;
    color: #666;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxtlLoadingPanel_Robo td.dx
{
    font-size: 1.17em;
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
.dxtlLoadingPanel_Robo .dxlp-loadingImage
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    animation: dxLoadSpinSys 1s linear infinite;
    border: 4px solid #D76D1D;
    border-top: 4px solid #EEE;
    width: 24px;
    height: 24px;
}
html.dxIE.dxBrowserVersion-9 .dxtlLoadingPanel_Robo .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    animation: none;
    border: none;
    border-radius: 0;
}
/* Disabled */
.dxtlDisabled_Robo,
.dxtlDisabled_Robo .dxtl
{
    color: #b8b8b8;
    cursor: default;
}
/* Ripple */
.dxtlControl_Robo .dxpcLite_Robo
{
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxtlControl_Robo .dxpcLite_Robo .dxpc-mainDiv.dxpc-hf
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* Filtering */
.dxtlFilterRow_Robo
{
    background-color: #f4f4f4;
}
.dxtlFilterRow_Robo > td
{
    border-bottom: 1px Solid #DFDFDF;
    border-right: 1px Solid #DFDFDF;
    border-top-width: 0;
    border-left-width: 0;
    padding: 2px;
    overflow: hidden;
}
/* Search Panel */
.dxtlSearchPanel_Robo
{
    padding: 7px 0 16px;
}
.dxtlSearchPanel_Robo > table
{
    width: 100%;
}
.dxtlSearchPanel_Robo .dxeButtonEdit_Robo
{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    width: 100%;
}
.dxtlSearchPanel_Robo .dxeButtonEdit_Robo,
.dxtlSearchPanel_Robo .dxeButtonEdit_Robo input
{
    background-color: #FAFAFA;
}
.dxtlSearchPanel_Robo .dxeButtonEdit_Robo td.dxic
{
    padding: 13px 8px 14px 12px;
}
*[dir="rtl"] .dxtlSearchPanel_Robo .dxeButtonEdit_Robo td.dxic
{
    padding: 13px 12px 14px 8px;
}
.dxtlControl_Robo .dxtlSearchPanel_Robo > table > tbody > tr > td:nth-child(2) a.dxbButton_Robo
{
    margin-left: 16px;
}
*[dir="rtl"].dxtlControl_Robo .dxtlSearchPanel_Robo > table > tbody > tr > td:nth-child(2) a.dxbButton_Robo
{
    margin-right: 16px;
    margin-left: 0;
}
.dxtlControl_Robo .dxtlSearchPanel_Robo > table > tbody > tr > td:last-child a.dxbButton_Robo
{
    margin-right: 16px;
}
*[dir="rtl"].dxtlControl_Robo .dxtlSearchPanel_Robo > table > tbody > tr > td:last-child a.dxbButton_Robo
{
    margin-left: 16px;
}
.dxtlControl_Robo .dxtlSearchPanel_Robo > table > tbody > tr > td a.dxbButton_Robo
{
    margin-left: 10px;
}
*[dir="rtl"].dxtlControl_Robo .dxtlSearchPanel_Robo > table > tbody > tr > td a.dxbButton_Robo
{
    margin-right: 10px;
}
.dxtlControl_Robo .dxtlSearchPanel_Robo .dxbButton_Robo
{
    margin-left: 8px;
}
/* Filter Builder, Filter Bar */
.dxtlFilterBar_Robo
{
    margin-top: 16px;
    border: 1px solid rgba(0,0,0,0.1);
    border-collapse: separate;
}
.dxtlFilterBar_Robo a
{
    color: #D76D1D;
    text-decoration: none;
}
.dxtlFilterBar_Robo a:hover
{
    text-decoration: underline;
}
.dxtlFilterBar_Robo > tbody > tr > td
{
    padding-top: 6px;
    padding-bottom: 6px;
}
.dxtlFilterBarCheckBoxCell_Robo
{
    padding-left: 8px;
}
*[dir="rtl"] .dxtlFilterBarCheckBoxCell_Robo
{
    padding-right: 8px;
}
.dxtlFilterBarCheckBoxCell_Robo
{
    padding-left: 8px;
}
*[dir="rtl"] .dxtlFilterBarCheckBoxCell_Robo
{
    padding-right: 8px;
}
.dxtlFilterBarImageCell_Robo
{
    padding: 0 8px 0 20px;
    cursor: pointer;
}
*[dir="rtl"] .dxtlFilterBarImageCell_Robo
{
    padding: 0 20px 0 8px;
}
.dxtlFilterBarImageCell_Robo img
{
    margin-top: 3px;
    margin-left: 0;
}
.dxtlFilterBarExpressionCell_Robo
{
    padding: 5px 5px 8px 0;
    white-space: nowrap;
}
.dxtlFilterBarClearButtonCell_Robo
{
    padding: 5px 20px 8px 6px;
}
*[dir="rtl"] .dxtlFilterBarClearButtonCell_Robo
{
    padding: 5px 6px 8px 20px;
}
.dxtlFilterBuilderMainArea_Robo
{
    background: white none;
    padding: 6px 2px;
}
.dxtlFilterBuilderButtonArea_Robo
{
    border-top: 1px solid #eaeaea;
    padding: 10px;
    white-space: nowrap;
}
.dxtlFilterBuilderButtonArea_Robo .dxbButton_Robo
{
    margin-left: 8px;
}
/*batch*/
.dxtlControl_Robo .dxtlBatchEditDeletedNode_Robo,
.dxtlControl_Robo .dxtlBatchEditNewNode_Robo.dxtlBatchEditDeletedNode_Robo,
.dxtlControl_Robo .dxtlBatchEditDeletedNode_Robo .dxtlPreview_Robo
{
    background: #EFEFEF;
}
.dxtlControl_Robo td.dxtlBatchEditCell_Robo
{
    padding: 0 2px;
}
.dxtlControl_Robo td.dxtlBatchEditModifiedCell_Robo
{
    background: #d7f9c7;
}
.dxtlControl_Robo td.dxtlBatchEditCell_Robo .dxichCellSys
{
    padding-left: 0;
}
.dxtlBatchEditDeletedNode_Robo > td:not(.dxtlCommandColumn)_Robo
{
    color: rgba(0,0,0,0.5);
}
.dxtlBatchEditDeletedNode_Robo td.dxtlBatchEditModifiedCell_Robo
{
    background: #eefbe7;
}
.dxtlControl_Robo .dxtlBatchEditNewNode_Robo
{
    background: #F0FAEA;
}
.dxtlFocusedCell_Robo
{
    box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
    -webkit-box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
    -moz-box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
}
.dxtlControl_Robo .dxtlErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxtlControl_Robo .dxtlErrorCell img
{
    margin: -3px 0;
}
.dxtlControl_Robo .dxtlHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxtlControl_Robo .dxtlHFDRC
{
    margin: 15px 15px 25px;
}
.dxtlControl_Robo .dxtlHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxtlControl_Robo .dxtlHFDRP[id*="HFFDE"]
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.dxtlControl_Robo .dxtlHFDRP[id*="HFTDE"]
{
    margin-bottom: 25px;
}
.dxtlControl_Robo .dxtl__IM,
.dxtlControl_Robo .dxtl__IE
{
    font-size: 14px !important;
}
