HTML {
}

BODY {
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-size: 11px;
    font-family: Arial;
}

A {
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-size: 11px;
    font-family: Arial;
}

.monthlybg-header {
    display: block;
    width: 183px;
    height: 22px;
    background-image: url(../../Base/Images/AnnualView/bgmonthly-header.png);
    background-repeat: no-repeat;
    font-weight: bold;
    padding-top: 6px;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-size: 11px;
    font-family: Arial;
    height: 30px;
}

.monthlybg-header-day {
    width: 20px;
    height: 14px;
    padding-bottom: 2px;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-size: 11px;
    font-family: Arial;
    text-align: center;
}

.monthlybg-day {
    width: 20px;
    height: 14px;
    text-align: center;
    vertical-align: middle;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-size: 11px;
    font-family: Arial;
}

a.daybg {
    display: block;
    width: 20px;
    height: 14px;
    border: solid 1px silver;
    text-align: center;
    vertical-align: middle;
    margin: 1px;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-size: 11px;
    font-family: Arial;
    text-decoration: none;
    color: black;
}

a.stock2-previous {
    display: block;
    width: 16px;
    height: 16px;
    border: 0;
    background-image: url(../../Base/Images/stock_previous.png);
    background-repeat: no-repeat;
    background-position: center center;
}

a.stock2-next {
    display: block;
    width: 16px;
    height: 16px;
    border: 0;
    background-image: url(../../Base/Images/stock_next.png);
    background-repeat: no-repeat;
    background-position: center center;
}