.monthlybg-header {
    display: block;
    width: 183px;
    height: 28px;
    background-image: url(../../Base/Images/AnnualView/bgmonthly-header.png);
    background-repeat: no-repeat;
    font-weight: bold;
    padding-top: 6px;
}

.monthlybg-header-day {
    width: 20px;
    height: 14px;
    padding-bottom: 4px;
}

.monthlybg-day {
    width: 20px;
    height: 14px;
    text-align: center;
    vertical-align: middle;
}

a.daybg {
    display: block;
    width: 20px;
    height: 14px;
    border: solid 1px silver;
    text-align: center;
    vertical-align: middle;
    margin: 1px;
}

.templatebg-header {
    display: block;
    font-weight: bold;
    padding-top: 6px;
}