/* -- WebChartControl -- */
.dxchartsuiLoadingDiv_Robo
{
    background-color: Gray;
    opacity: 0.01;
    filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxchartsuiLoadingPanel_Robo
{
    background-color: white;
    font: 11px Century Gothic,Segoe UI,Arial,Helvetica,sans-serif;
    color: #666;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxchartsuiLoadingPanel_Robo td.dx
{
    font-size: 1.17em;
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
/* -- Crosshair -- */
.dxchartsuiCrosshairHLine_Robo,
.dxchartsuiCrosshairVLine_Robo
{
    background-color: transparent;
    border-color: #de39cd;
}
.dxchartsuiCrosshairLabel_Robo,
.dxchartsuiCrosshairHLine_Robo,
.dxchartsuiCrosshairVLine_Robo
{
    position: absolute;
    z-index: 41998;
}
.dxchartsuiCrosshairLabel_Robo
{
    background-color: #de39cd;
    color: White;
    font: 11px Century Gothic,Segoe UI,Arial,Helvetica,sans-serif;
    padding: 1px 4px 1px 4px;
    white-space: nowrap;
}
.dxchartsuiCrosshairHLine_Robo
{
    height: 0px;
}
.dxchartsuiCrosshairVLine_Robo
{
    width: 0px;
}
/* -- Tooltip -- */
.dxchartsuiTooltip_Robo,
.dxchartsuiTooltip_TopLeft_Robo,
.dxchartsuiTooltip_TopRight_Robo,
.dxchartsuiTooltip_BottomLeft_Robo,
.dxchartsuiTooltip_BottomRight_Robo
{
    font: 11px Century Gothic,Segoe UI,Arial,Helvetica,sans-serif;
    color: #201f35;
    background-color: White;
    border: 1px solid rgba(0,0,0,0.35);
    padding: 6px 10px 6px 10px;
    position: absolute;
    cursor: default;
    white-space: nowrap;
    -moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,0.35);
    box-shadow: 0px 2px 10px rgba(0,0,0,0.35);
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    z-index: 41999;
}
.dxchartsuiTooltip_TopLeft_Robo:before,
.dxchartsuiTooltip_TopRight_Robo:before,
.dxchartsuiTooltip_BottomLeft_Robo:before,
.dxchartsuiTooltip_BottomRight_Robo:before,
.dxchartsuiTooltip_TopLeft_Robo:after,
.dxchartsuiTooltip_TopRight_Robo:after,
.dxchartsuiTooltip_BottomLeft_Robo:after,
.dxchartsuiTooltip_BottomRight_Robo:after
{
    border-style: solid;
    content: "";
    display: block;
    position: absolute;
    width: 0;
}
.dxchartsuiTooltip_TopLeft_Robo:before,
.dxchartsuiTooltip_TopRight_Robo:before,
.dxchartsuiTooltip_BottomLeft_Robo:before,
.dxchartsuiTooltip_BottomRight_Robo:before
{
    border-width: 10px 5px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.dxchartsuiTooltip_TopLeft_Robo:after,
.dxchartsuiTooltip_TopRight_Robo:after,
.dxchartsuiTooltip_BottomLeft_Robo:after,
.dxchartsuiTooltip_BottomRight_Robo:after
{
    border-width: 8px 4px;
}
.dxchartsuiTooltip_TopLeft_Robo:before
{
    border-color: transparent transparent rgba(139,139,139,0.35) rgba(139,139,139,0.35);
    top: -20px;
    left: 10px;
}
.dxchartsuiTooltip_TopLeft_Robo:after
{
    border-color: transparent transparent White White;
    top: -16px;
    left: 11px;
}
.dxchartsuiTooltip_TopRight_Robo:before
{
    border-color: transparent rgba(139,139,139,0.35) rgba(139,139,139,0.35) transparent;
    top: -20px;
    right: 10px;
}
.dxchartsuiTooltip_TopRight_Robo:after
{
    border-color: transparent White White transparent;
    top: -16px;
    right: 11px;
}
.dxchartsuiTooltip_BottomRight_Robo:before
{
    border-color: rgba(139,139,139,0.35) rgba(139,139,139,0.35) transparent transparent;
    bottom: -20px;
    right: 10px;
}
.dxchartsuiTooltip_BottomRight_Robo:after
{
    border-color: White White transparent transparent;
    bottom: -16px;
    right: 11px;
}
.dxchartsuiTooltip_BottomLeft_Robo:before
{
    border-color: rgba(139,139,139,0.35) transparent transparent rgba(139,139,139,0.35);
    bottom: -20px;
    left: 10px;
}
.dxchartsuiTooltip_BottomLeft_Robo:after
{
    border-color: White transparent transparent White;
    bottom: -16px;
    left: 11px;
}
