<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
  -->
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="wcf:serviceHostingEnvironment:useClassicReadEntityBodyMode" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="MTLiveApiUrl" value="https://dev-vtliveapi.visualtime.net/Portal/PortalSvcx.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="CosmosDB.ConnectionString" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="CosmosDB.DBName" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ApplicationInsights.Key" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="IISDistributedEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ApiService.ConnectionString" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="URL.VTLive" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="URL.VTPortal" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>

	<system.serviceModel>
		<services xdt:Transform="Remove" />
		<services xdt:Transform="Insert">
			<service name="VTPortalWeb.PortalSvcx">
				<endpoint address="" behaviorConfiguration="VTPortalWeb.SvcxAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTPortalWeb.PortalSvcx" />
				<endpoint address="" behaviorConfiguration="VTPortalWeb.SvcxAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTPortalWeb.PortalSvcx" />
			</service>
			<service name="VTPortalWeb.TimeGate">
				<endpoint address="" behaviorConfiguration="VTPortalWeb.SvcxAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="VTPortalWeb.TimeGate" />
				<endpoint address="" behaviorConfiguration="VTPortalWeb.SvcxAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="stdBinding" contract="VTPortalWeb.TimeGate" />
			</service>

		</services>
	</system.serviceModel>

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<httpCookies httpOnlyCookies="true" requireSSL="true" xdt:Transform="Insert" />
		<!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm" />
      </customErrors>
    -->
	</system.web>
	<system.webServer>
		<rewrite xdt:Transform="Insert">
			<rules>
				<rule name="HTTP to HTTPS redirect" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
				</rule>
			</rules>
			<outboundRules>
				<rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
					<match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
					<conditions>
						<add input="{HTTPS}" pattern="on" ignoreCase="true" />
					</conditions>
					<action type="Rewrite" value="max-age=31536000; includeSubDomains; preload" />
				</rule>
			</outboundRules>
		</rewrite>
	</system.webServer>
</configuration>