<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VisualTimeSageConnector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExternalApiSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ExternalApiSoap1" />
        <binding name="ExternalApiSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="ExternalApiSoap3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://rolive3n22.visualtime.net/VTLiveBusiness/Datalink/ExternalApi.asmx" binding="basicHttpBinding" bindingConfiguration="ExternalApiSoap" contract="ServiceReference1.ExternalApiSoap" name="ExternalApiSoap" />
      <endpoint address="https://demotest.visualtime.net/VTLiveBusiness/Datalink/ExternalApi.asmx" binding="basicHttpBinding" bindingConfiguration="ExternalApiSoap2" contract="VTLiveDatalink.ExternalApiSoap" name="ExternalApiSoap1" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <VisualTimeSageConnector.Properties.Settings>
      <setting name="VisualTimeSageConnector_net_WebService_ExternalApi"
        serializeAs="String">
        <value>https://rolive3n22.visualtime.net/VTLiveBusiness/Datalink/ExternalApi.asmx</value>
      </setting>
      <setting name="VisualTimeSageConnector_net_visualtime_ExternalApi"
        serializeAs="String">
        <value>https://rolive3n22.visualtime.net/VTLiveBusiness/Datalink/ExternalApi.asmx</value>
      </setting>
      <setting name="VTSAGE200CServicio_net_visualtime_acb3545_ExternalApi"
        serializeAs="String">
        <value>https://demotest.visualtime.net/VTLiveBusiness/Datalink/ExternalApi.asmx</value>
      </setting>
      <setting name="VisualTimeSageConnector_ExternalApi_ExternalApi"
        serializeAs="String">
        <value>http://localhost:8031/datalink/ExternalApi.svc/soap</value>
      </setting>
    </VisualTimeSageConnector.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=rosp;AccountKey=cntFPCNRe+RQifgT3TrohnaSHVf6O420aBV2H2SiVZYt9anMMLtf0WETkTN6mLUqL+CEPkSadJ2r39mmAEEmew==;EndpointSuffix=core.windows.net" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>