<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
	<appSettings>
		<add key="ClientPath" value="C:\Work\SaasPrintingSetup\files\"/>
		<add key="ServerPath" value="C:\Work\SaasPrintingSetup\files\"/>
		<add key="Container" value="idi01"/>
		<add key="Blob" value="idi01"/>
		<add key="LogPath" value="C:\Work\SaasPrintingSetup\logs\"/>
		<add key="PrinterMarginLeft" value="1"/>
		<add key="PrinterMarginTop" value="1"/>
		<add key="Behaviour" value="Client"/>
		<add key="StorageKey" value="Client"/>
		<add key="IsMT" value="true"/>
		<add key="StorageConnectionString" value="?sv=2020-10-02&amp;st=2021-06-10T10%3A17%3A00Z&amp;se=2025-06-11T10%3A17%3A00Z&amp;sr=c&amp;sp=racwdxlt&amp;sig=dJB%2FU9zN%2B4CBn0dykEbE2hjnsQJ%2FkezckF%2B8dJ4ya7o%3D"/>
		<add key="PrinterName" value="Microsoft Print to PDF"/>
		<!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=roclientes01;AccountKey=1skv8eU2iGS7X4Mcj4if82QHmBvXzRjSAd0h76tH0i7z4HPusH7SIW+hXrT2dGP73hpeE/KnDgfd/PfY+Hl/2g==;EndpointSuffix=core.windows.net" />-->
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
